Repository reearth/reearth-visualizer, pull requests merged in 2023-06, with the labels that each got.

#451 feat(web): support create beta project
  web/e2e/utils/config.ts
  web/src/classic/components/atoms/Icon/Icons/defaultBetaProjectImage.png
  web/src/classic/components/atoms/Icon/Icons/defaultProjectImage.jpg
  web/src/classic/components/molecules/Common/Header/types.ts
  web/src/classic/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/classic/components/molecules/Common/ProjectTypeSelectionModal/index.stories.tsx
  web/src/classic/components/molecules/Common/ProjectTypeSelectionModal/index.tsx
  web/src/classic/components/molecules/Dashboard/Project.tsx
  web/src/classic/components/molecules/Dashboard/QuickStart.tsx
  web/src/classic/components/molecules/Dashboard/types.ts
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyField/LocationField/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyField/NumberField/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyItem/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/WidgetAlignSystemAreaForm/index.tsx
  web/src/classic/components/molecules/Settings/Project/EditableItem/index.tsx
  web/src/classic/components/molecules/Settings/ProjectList/ProjectCell/defaultProjectImage.jpg
  web/src/classic/components/molecules/Settings/ProjectList/ProjectCell/index.tsx
  web/src/classic/components/molecules/Settings/SettingPage/index.tsx
  web/src/classic/components/molecules/Visualizer/WidgetAlignSystem/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/Published/core/types.ts
  web/src/classic/components/organisms/Published/types.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/index.tsx
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/classic/core/Crust/Widgets/WidgetAlignSystem/types.ts
  web/src/services/config/index.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/graphql.schema.json
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
  web/src/types.ts
Labels: web

#431 fix(server): plugin update cause layer corruption
  server/internal/usecase/interactor/scene_plugin.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/pkg/id/property_schema_list.go
  server/pkg/id/property_schema_list_test.go
  server/pkg/layer/id_list.go
  server/pkg/layer/id_list_test.go
  server/pkg/layer/infobox_field.go
  server/pkg/layer/infobox_field_builder.go
  server/pkg/layer/infobox_field_test.go
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/plugin/id.go
  server/pkg/plugin/plugin.go
  server/pkg/plugin/plugin_test.go
  server/pkg/scene/plugins.go
  server/pkg/scene/plugins_test.go
  server/pkg/scene/sceneops/plugin_migrator.go
Labels: server

#457 refactor(web): storybook setup
  web/.storybook/main.ts
  web/.storybook/manager.ts
  web/.storybook/preview.tsx
  web/.storybook/public/logo.svg
  web/.storybook/theme.ts
  web/package.json
  web/src/classic/components/molecules/Visualizer/Block/HTML/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Model/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Raster/index.stories.tsx
  web/src/classic/core/engines/Cesium/Feature/Resource/index.stories.tsx
  web/yarn.lock
Labels: web

#458 chore(web): upgrade vite version
  web/package.json
  web/yarn.lock
Labels: web

#463 chore(web): add beta editor layout
  web/src/beta/components/Resizable/hooks.ts
  web/src/beta/components/Resizable/index.stories.tsx
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useVisualizerNav.tsx
  web/src/beta/features/LeftPanel/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/RightPanel/index.tsx
  web/src/beta/features/SidePanel/index.tsx
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/features/VisualizerNav/index.tsx
  web/src/beta/pages/Editor/index.tsx
  web/src/beta/pages/EditorPage/index.tsx
  web/src/classic/components/molecules/EarthEditor/EarthEditorPage/index.tsx
  web/src/services/routing/index.tsx
  web/src/services/theme/darkTheme.ts
  web/src/services/theme/lightheme.ts
  web/src/services/theme/metrics.ts
  web/src/services/theme/theme.ts
Labels: web

#479 fix(web): parse properties(feature) recursively before using in evaluator at core
  web/src/beta/lib/core/mantle/evaluator/simple/expression/utils.ts
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/beta/lib/core/mantle/evaluator/simple/utils.test.ts
  web/src/beta/lib/core/mantle/evaluator/simple/utils.ts
  web/src/classic/core/mantle/evaluator/simple/expression/utils.ts
  web/src/classic/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/classic/core/mantle/evaluator/simple/index.ts
  web/src/classic/core/mantle/evaluator/simple/utils.test.ts
  web/src/classic/core/mantle/evaluator/simple/utils.ts
Labels: web

#477 test(server): fix project created at in unit test
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
Labels: server

#468 refactor(server): use reearthx auth middleware
  server/internal/adapter/context.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/auth.go
  server/internal/app/config/auth_test.go
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/jwt.go
Labels: server

#487 fix(web): infobox showing [object object] on click
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
  web/src/classic/core/mantle/evaluator/simple/index.ts
Labels: web

#481 chore(web): add theming support for components in storybook
  web/.storybook/main.ts
  web/.storybook/preview.tsx
  web/package.json
  web/src/classic/components/atoms/Modal/ModalFrame/index.stories.tsx
  web/src/classic/components/atoms/Modal/index.stories.tsx
  web/src/services/theme/index.ts
  web/yarn.lock
Labels: web

#467 refactor(web): organize Resizable(beta) hooks
  web/src/beta/components/Resizable/hooks.ts
Labels: web

#499 fix(server): ignore filter for project repo findByPublicName
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
Labels: server

#486 chore(web): design beta navBar
  web/src/beta/components/Avatar/index.stories.tsx
  web/src/beta/components/Avatar/index.tsx
  web/src/beta/components/Button/index.stories.tsx
  web/src/beta/components/Button/index.tsx
  web/src/beta/components/Dropdown/index.stories.tsx
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/components/Icon/Icons/arrowDown.svg
  web/src/beta/components/Icon/Icons/dashboard.svg
  web/src/beta/components/Icon/Icons/help.svg
  web/src/beta/components/Icon/Icons/logout.svg
  web/src/beta/components/Icon/Icons/workspaceAdd.svg
  web/src/beta/components/Icon/Icons/workspaces.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Loading/index.stories.tsx
  web/src/beta/components/Loading/index.tsx
  web/src/beta/components/Modal/ModalFrame/index.stories.tsx
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/Menus/MenuList/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/Navbar/Menus/WorkspaceMenu/index.tsx
  web/src/beta/features/Navbar/TabButton/index.stories.tsx
  web/src/beta/features/Navbar/TabButton/index.test.tsx
  web/src/beta/features/Navbar/TabButton/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/types.ts
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/classic/components/molecules/Settings/SettingPage/index.tsx
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
Labels: web

#503 fix(web): published page layer selection
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Labels: web

#512 fix(web): revert published page VR layer selection
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Published/core/index.tsx
Labels: web

#449 feat(web): add aws cognito support in auth
  web/e2e/utils/config.ts
  web/index.html
  web/package.json
  web/src/app.tsx
  web/src/main.tsx
  web/src/services/auth/authHook.ts
  web/src/services/auth/authOAuth.ts
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/cognitoAuth.ts
  web/src/services/auth/index.tsx
  web/src/services/auth/provider.tsx
  web/src/services/auth/useAuth.ts
  web/src/services/config/aws.config.ts
  web/src/services/config/index.ts
  web/yarn.lock
Labels: web

#507 feat(web): interaction mode on beta
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/featureFlags.ts
  web/src/beta/lib/core/Crust/index.stories.tsx
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/Crust/types.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Labels: web

#506 fix(web): wrong workspace when sharing link
  web/src/beta/features/Navbar/hooks.ts
  web/src/classic/components/molecules/EarthEditor/Header/index.tsx
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/index.tsx
Labels: web

#518 fix(web): typing for window in beta
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
Labels: web

#517 feat(web): add an option to disable default PBR to 3dtiles and model features in NLS
  web/src/beta/lib/core/engines/Cesium/CustomShaders/NonPBRLightingShader.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Labels: web

#523 fix(web): revert functionality to remember last workspace opened
  web/src/beta/features/Navbar/hooks.ts
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/Settings/Account/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Public/hooks.ts
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/Asset/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/services/state/index.ts
Labels: web

#525 fix(web): infinite loop on network error
  web/src/services/gql/provider.tsx
Labels: web

#524 feat(web): visualizer supports shadow map
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Labels: web

#528 refactor(web): handle GQL errors w useSetAtom
  web/src/services/gql/provider.tsx
  web/src/services/state/gqlErrorHandling.ts
  web/src/services/state/index.ts
Labels: web

#531 refactor(web): handle cesium private property of shadow map
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Labels: web

#537 feat(server): dataset REST API
  server/e2e/dataset_export_test.go
  server/e2e/seeder.go
  server/go.sum
  server/gql/dataset.graphql
  server/gql/scene.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_dataset.go
  server/internal/adapter/gql/resolver_mutation_dataset.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/http/dataset.go
  server/internal/adapter/http/export.go
  server/internal/infrastructure/memory/dataset.go
  server/internal/infrastructure/memory/dataset_schema.go
  server/internal/infrastructure/mongo/dataset.go
  server/internal/infrastructure/mongo/dataset_schema.go
  server/internal/infrastructure/mongo/mongodoc/dataset_schema.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interfaces/dataset.go
  server/internal/usecase/repo/dataset.go
  server/internal/usecase/repo/dataset_schema.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_builder.go
  web/codegen.yml
  web/src/services/gql/graphql-client-api.tsx
  web/src/services/gql/graphql.schema.json
Labels: server, web

#539 feat(server): add dataset IDs and schema to dataset API
  server/e2e/dataset_export_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/app/app.go
  server/internal/usecase/interactor/dataset.go
  server/pkg/dataset/dataset.go
  server/pkg/dataset/dataset_test.go
  server/pkg/dataset/export.go
  server/pkg/dataset/export_test.go
  server/pkg/dataset/schema.go
  server/pkg/dataset/schema_field.go
  server/pkg/dataset/schema_test.go
  server/pkg/dataset/value.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/type_test.go
  server/pkg/value/url.go
Labels: server

#527 fix(web): workspace or userId being undefined
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
Labels: web
