Repository reearth/reearth-visualizer, pull requests merged in 2023-04, with the labels that each got.

#392 test(server): some unit test fails on windows
  .gitignore
  server/pkg/cache/cache_test.go
  server/pkg/file/file_test.go
  server/pkg/layer/encoding/shp_test.go
Labels: backend, server

#396 docs: add diagrams of core architecture
  web/src/core/docs/architecture.d2
  web/src/core/docs/architecture.svg
  web/src/core/docs/dataFlow.d2
  web/src/core/docs/dataFlow.svg
  web/src/core/docs/mantle.d2
  web/src/core/docs/mantle.svg
Labels: web

#398 fix(web): point cloud style converse error with undefined
  web/src/core/engines/Cesium/Feature/Tileset/hooks.ts
Labels: web

#393 ci: add support for automatic workflow and housekeeping
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ci_collect_info.yml
  .github/workflows/ci_deploy_server_nightly.yml
  .github/workflows/ci_deploy_web_nightly.yml
  .github/workflows/ci_docker_build.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_server_build.yml
  .github/workflows/ci_web.yml
  .github/workflows/ci_web_build.yml
  .github/workflows/e2e.yml
  .github/workflows/release.js
  codecov.yml
  web/.github/CODEOWNERS
  web/.github/changelog.yml
  web/.github/pull_request_template.md
  web/.github/renovate.json
  web/.github/workflows/ci.yml
  web/.github/workflows/pr_title.yml
  web/.github/workflows/release.yml
  web/.github/workflows/stage.yml
  web/codecov.yml
Labels: web

#403 ci: made redundant change in web
  web/src/core/Crust/index.tsx
Labels: web

#404 ci: revert redundant changes on web
  web/src/core/Crust/index.tsx
Labels: web

#401 refactor(server): use reearthx cache
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/usecase/interactor/published.go
  server/pkg/cache/cache.go
  server/pkg/cache/cache_test.go
Labels: server

#402 chore(server): upgrade ci go linter to 1.52.*
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
Labels: server
