Repository reearth/reearth-visualizer, pull requests merged in 2023-09, with the labels that each got.

#636 feat(web): add spacing input field and number input
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/SpacingInput/index.stories.tsx
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.stories.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/beta/features/Editor/StoryPanel/ActionPanel/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#648 chore(server): storytelling publishing
  server/e2e/common.go
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/app/web_test.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/memory/storytelling.go
  server/internal/infrastructure/s3/s3.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/published.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/published.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/repo/storytelling.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/page.go
  server/pkg/storytelling/page_list.go
  server/pkg/storytelling/story.go
Labels: server

#649 chore(server): add e2e test for NLS CRUD
  server/e2e/gql_nlslayer_test.go
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
Labels: server

#656 chore(sever): refactor around NLS layers
  server/e2e/gql_nlslayer_test.go
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
Labels: server

#661 chore(server): handle visibility for nls layer
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
Labels: server

#652 chore(web): Slider Field
  web/src/beta/components/Slider/index.stories.tsx
  web/src/beta/components/Slider/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/SliderField/index.stories.tsx
  web/src/beta/components/fields/SliderField/index.tsx
Labels: web

#664 chore(web): limit lexical css
  web/src/beta/lib/lexical/RichTextEditor/index.css
  web/src/beta/lib/lexical/RichTextEditor/index.tsx
  web/src/beta/lib/lexical/RichTextEditor/themes/DefaultLexicalEditorTheme.css
  web/src/beta/lib/lexical/RichTextEditor/ui/ColorPicker.css
  web/src/beta/lib/lexical/RichTextEditor/ui/Input.css
Labels: web

#633 chore(web): add dataSource, layerSidePanel component in beta
  web/codegen.ts
  web/src/beta/components/Icon/Icons/addLayer.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Modal/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Asset/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/index.stories.tsx
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/beta/features/Editor/Visualizer/CanvasArea/convert.ts
  web/src/beta/features/Editor/Visualizer/CanvasArea/hooks.ts
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.stories.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/services/api/index.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/api/sceneApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/index.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/queries/layer.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
Labels: web

#663 chore(web): add some atmosphere properties
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
Labels: web

#659 chore(web): publish tab type
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/toGqlStatus.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/storytelling.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#662 chore(web): Select Field
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/SelectField/index.stories.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#666 chore(web): fix the layer delete behavior
  web/src/beta/lib/core/Map/Layers/hooks.ts
Labels: web

#668 chore(web): correct style of story text block
  web/src/beta/lib/lexical/RichTextEditor/index.css
Labels: web

#667 chore(web): override default light
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Labels: web

#671 chore(web): story page change on user scroll
  web/src/beta/features/Editor/StoryPanel/Page/index.tsx
  web/src/beta/features/Editor/StoryPanel/PanelContent/index.tsx
  web/src/beta/features/Editor/StoryPanel/hooks.ts
  web/src/beta/features/Editor/StoryPanel/index.tsx
  web/src/beta/features/Editor/Visualizer/CanvasArea/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
Labels: web

#672 chore(web): fix inifinite loop while selecting layer
  web/src/beta/features/Editor/Visualizer/CanvasArea/hooks.ts
Labels: web

#673 chore(web): add pluginAPI camera.getFovCenter
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/storybook.tsx
  web/src/beta/lib/core/Map/ref.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/common.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
Labels: web

#650 chore(web): radio and radio group field components
  web/src/beta/components/RadioGroup/RadioBox/index.stories.tsx
  web/src/beta/components/RadioGroup/RadioBox/index.tsx
  web/src/beta/components/RadioGroup/index.stories.tsx
  web/src/beta/components/RadioGroup/index.tsx
Labels: web

#669 chore(web): add number field
  web/src/beta/components/fields/NumberField/index.stories.tsx
  web/src/beta/components/fields/NumberField/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
Labels: web

#660 chore(web): add location field
  web/src/beta/components/fields/LocationField/index.stories.tsx
  web/src/beta/components/fields/LocationField/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
Labels: web

#677 refactor: refactor text input component
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/TextField/index.stories.tsx
  web/src/beta/components/fields/TextField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.stories.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/ContainerSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Labels: web

#675 chore(web): fix HBAO error when Cesium is destroyed
  web/src/beta/lib/core/engines/Cesium/useOverrideGlobeShader.ts
Labels: web

#679 refactor: add assets feature
  web/src/beta/features/Assets/AssetCard/index.stories.tsx
  web/src/beta/features/Assets/AssetCard/index.tsx
  web/src/beta/features/Assets/useManageAssets/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
Labels: web

#647 chore(web): Camera field
  web/src/beta/components/Slider/index.tsx
  web/src/beta/components/fields/CameraField/index.stories.tsx
  web/src/beta/components/fields/CameraField/index.tsx
  web/src/beta/components/fields/LocationField/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/classic/components/molecules/EarthEditor/PropertyPane/PropertyField/CameraField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#665 chore(web): add support for layer name editing in beta
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.stories.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useLeftPanel.tsx
Labels: web

#686 chore(web): Camera field responsiveness
  web/src/beta/components/fields/CameraField/index.tsx
Labels: web

#678 chore(web): Update select field usage
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Asset/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#685 chore(web): refactor storypanel
  web/src/beta/features/Editor/Visualizer/CanvasArea/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/Visualizer/type.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/Template.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/usePropertyValueUpdate.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/ClickAwayListener.tsx
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PageIndicator/index.stories.tsx
  web/src/beta/lib/core/StoryPanel/PageIndicator/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/utils.ts
  web/src/services/api/storytellingApi/blocks.ts
Labels: web

#684 chore(web): layer properties api
  web/src/beta/lib/core/Map/Layer/hooks.ts
  web/src/beta/lib/core/Map/Layer/index.tsx
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/Map/Layers/index.test.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/mantle/atoms/compute.ts
Labels: web

#681 chore(web): fix default infobox behavior
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
Labels: web

#680 refactor: use radio group in Data source manage
  web/src/beta/components/RadioGroup/RadioBox/index.stories.tsx
  web/src/beta/components/RadioGroup/RadioBox/index.tsx
  web/src/beta/components/RadioGroup/index.stories.tsx
  web/src/beta/components/RadioGroup/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Asset/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
Labels: web

#690 chore(server): update layer for appearance support in beta
  server/e2e/gql_nlslayer_test.go
  server/gql/newlayer.graphql
  server/gql/style.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
Labels: server

#693 chore(server): add extensionId and pluginId in block json of published story
  server/e2e/gql_storytelling_test.go
  server/pkg/scene/builder/story.go
Labels: server

#695 chore(web): fix delimited layer input field type
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
Labels: web

#692 chore(web): refactor/update Camera field
  web/src/beta/components/Icon/Icons/zoomToLayer.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/Slider/index.tsx
  web/src/beta/components/Toggle/index.tsx
  web/src/beta/components/fields/CameraField/CapturePanel/index.tsx
  web/src/beta/components/fields/CameraField/EditPanel/hooks.ts
  web/src/beta/components/fields/CameraField/EditPanel/index.tsx
  web/src/beta/components/fields/CameraField/PanelCommon.tsx
  web/src/beta/components/fields/CameraField/index.stories.tsx
  web/src/beta/components/fields/CameraField/index.tsx
  web/src/beta/components/fields/CameraField/types.ts
  web/src/beta/components/fields/LocationField/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/components/fields/ToggleField/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/lib/core/Crust/Plugins/context.tsx
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Widgets/types.ts
  web/src/beta/lib/core/Crust/types.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/context.ts
  web/src/beta/lib/core/engines/Cesium/common.ts
  web/src/beta/lib/core/engines/index.ts
  web/src/beta/lib/core/types.ts
  web/src/beta/lib/lexical/RichTextEditor/index.tsx
  web/src/classic/core/Crust/Plugins/hooks.ts
  web/src/classic/core/Map/types/index.ts
  web/src/classic/core/engines/Cesium/Feature/context.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
Labels: web

#696 chore(web): Select field - Minor fixes
  web/src/beta/components/fields/SelectField/index.stories.tsx
  web/src/beta/components/fields/SelectField/index.tsx
Labels: web

#697 chore(web): refactor storypanel to remove any gql use
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/mantle/types/value.ts
  web/src/beta/pages/Page.tsx
  web/src/services/api/index.ts
  web/src/services/api/propertyApi/utils.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/storytellingApi/utils.ts
Labels: web

#698 chore(web): fix value input asset datatype
  web/src/beta/features/Editor/DataSourceManager/Asset/index.tsx
Labels: web

#699 chore(web): Story page camera transition
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.stories.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/services/api/storytellingApi/index.ts
Labels: web

#694 feat(web): Add layers using wms and mvt
  web/src/beta/features/Editor/DataSourceManager/Asset/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/hooks.ts
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#700 chore(web): fix create & remove story block
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
Labels: web

#701 chore(web): fix story page/block ui/ux
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
Labels: web

#674 chore(web): add URL field
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/URLField/index.stories.tsx
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/AssetsQueriesHook/hooks.ts
  web/src/beta/features/Assets/constants.ts
  web/src/beta/features/Assets/types.ts
  web/src/beta/features/Assets/useManageAssets/hooks.ts
  web/src/beta/features/Modals/ChooseAssetModal/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/utils/util.ts
  web/src/services/api/assetsApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#687 chore(web): list field
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/Slider/index.tsx
  web/src/beta/components/fields/ListField/index.stories.tsx
  web/src/beta/components/fields/ListField/index.tsx
  web/src/beta/components/fields/PropertyFields/hooks.ts
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/common/NumberInput/index.tsx
  web/src/services/api/propertyApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/property.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#705 chore(server): fix NLS simple update
  server/e2e/gql_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
Labels: server

#704 fix(web): use ga4 on classic
  web/src/classic/components/molecules/Visualizer/hooks.ts
Labels: web

#703 chore(web): add line-height option to story text block
  web/src/beta/lib/lexical/RichTextEditor/images/icons/regular.svg
  web/src/beta/lib/lexical/RichTextEditor/index.css
  web/src/beta/lib/lexical/RichTextEditor/plugins/ToolbarPlugin.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#707 fix(web): remove video URL format verification
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/constants.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#689 feat(web): story drag and drop
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/DragAndDropList/scrollItem.tsx
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
Labels: web

#710 chore(web): disable fxaa
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Labels: web

#711 chore(web): fix a layer update process
  web/src/beta/lib/core/mantle/atoms/compute.ts
Labels: web

#713 chore(web): various bug fixes and refactoring
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/LegacyMenu/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/LegacyMenu/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/LegacyMenu/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/SplashScreen/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/SplashScreen/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Storytelling/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Storytelling/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Storytelling/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#709 chore(web): story page layer UI
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Labels: web

#712 chore(web): MD Block
  server/e2e/gql_storytelling_test.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/components/Markdown/index.stories.tsx
  web/src/beta/components/Markdown/index.tsx
  web/src/beta/components/PopoverMenuContent/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#708 chore(web): image and video blocks
  web/src/beta/components/Overlay/index.tsx
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/VideoPlayer.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/index.tsx
Labels: web
