Repository reearth/reearth-visualizer, pull requests merged in 2023-05, with the labels that each got.

#412 fix(web): feature containing layer show hide not working
  web/src/core/engines/Cesium/Feature/index.tsx
Labels: web

#409 feat(server): export dataset as csv
  server/e2e/common.go
  server/e2e/dataset_export_test.go
  server/e2e/ping_test.go
  server/e2e/seeder.go
  server/internal/adapter/http/export.go
  server/internal/app/app.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interfaces/dataset.go
  server/pkg/dataset/value.go
  server/pkg/dataset/value_optional_test.go
  server/pkg/dataset/value_test.go
  server/pkg/property/value_camera.go
  server/pkg/property/value_optional_test.go
  server/pkg/property/value_test.go
  server/pkg/property/value_typography.go
  server/pkg/value/bool.go
  server/pkg/value/coordinates.go
  server/pkg/value/latlng.go
  server/pkg/value/latlngheight.go
  server/pkg/value/number.go
  server/pkg/value/optional_test.go
  server/pkg/value/polygon.go
  server/pkg/value/rect.go
  server/pkg/value/ref.go
  server/pkg/value/string.go
  server/pkg/value/type.go
  server/pkg/value/url.go
  server/pkg/value/value.go
  server/pkg/value/value_test.go
Labels: server

#405 fix(web): wrong last workspace value when multiple tabs
  web/src/components/organisms/Authentication/RootPage/hooks.ts
  web/src/components/organisms/Dashboard/hooks.ts
  web/src/components/organisms/EarthEditor/Header/hooks.ts
  web/src/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/components/organisms/Settings/Account/hooks.ts
  web/src/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/components/organisms/Settings/Project/Public/hooks.ts
  web/src/components/organisms/Settings/Project/hooks.ts
  web/src/components/organisms/Settings/ProjectList/hooks.ts
  web/src/components/organisms/Settings/SettingPage/hooks.ts
  web/src/components/organisms/Settings/Workspace/Asset/hooks.ts
  web/src/components/organisms/Settings/Workspace/hooks.ts
  web/src/components/pages/Authentication/hooks.ts
  web/src/state/index.ts
Labels: web

#410 feat(web): support csv download for Dataset in setting page
  web/src/components/atoms/Icon/Icons/download.svg
  web/src/components/atoms/Icon/Icons/spinner.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Settings/Project/Dataset/DatasetItem/index.tsx
  web/src/components/molecules/Settings/Project/Dataset/DatasetList/index.stories.tsx
  web/src/components/molecules/Settings/Project/Dataset/DatasetList/index.tsx
  web/src/components/molecules/Settings/Project/Dataset/DatasetSection/index.tsx
  web/src/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/components/organisms/Settings/Project/Dataset/index.tsx
Labels: web

#399 feat(web): sandbox plugin iframe - alpha
  web/src/components/molecules/PluginEditor/core/hooks.ts
  web/src/components/molecules/PluginEditor/core/index.tsx
  web/src/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/components/organisms/EarthEditor/core/CanvasArea/index.tsx
  web/src/core/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/core/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
  web/src/core/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/core/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
  web/src/core/Crust/Plugins/PluginFrame/SafeIFrame/utils.test.ts
  web/src/core/Crust/Plugins/PluginFrame/SafeIFrame/utils.ts
  web/src/core/Crust/Plugins/hooks.ts
  web/src/core/Crust/Plugins/types.ts
  web/src/core/Crust/Plugins/useExperimentalSandbox.ts
  web/src/core/Crust/index.tsx
  web/src/core/Visualizer/index.tsx
Labels: web

#416 fix(web): classic infobox always shown for 3d tiles
  web/src/components/molecules/Visualizer/hooks.ts
Labels: web

#417 fix(web): create new workspace doesn't save session
  web/src/components/organisms/Dashboard/hooks.ts
  web/src/components/organisms/EarthEditor/Header/hooks.ts
  web/src/components/organisms/Settings/SettingPage/hooks.ts
  web/src/components/organisms/Settings/Workspace/hooks.ts
Labels: web

#411 chore(web): update dependencies
  web/package.json
  web/src/test/setup.ts
  web/yarn.lock
Labels: web

#420 chore(web): upgrade auth0 to version 2
  web/package.json
  web/src/auth/hooks.ts
  web/src/auth/provider.tsx
  web/yarn.lock
Labels: web

#425 fix(web): update cesium version to 1.105.2 from 1.105.1
  web/package.json
  web/yarn.lock
Labels: web

#426 ci: remove redundant call to fetch reearth-web changelog
  .github/workflows/release.js
  .github/workflows/release.yml
  web/CHANGELOG.md
Labels: web

#428 feat(web): add reearth ver support in profile header
  web/src/components/molecules/Common/Header/profile.tsx
  web/src/config/index.ts
  web/vite.config.ts
Labels: web

#421 fix(web): add data url to componentId for better tracking of component in core
  web/src/core/engines/Cesium/Feature/index.tsx
Labels: web

#423 feat(web): support nested style expression object in style evaluator
  web/src/core/mantle/evaluator/simple/index.test.ts
  web/src/core/mantle/evaluator/simple/index.ts
  web/src/core/mantle/types/appearance.ts
Labels: web

#436 fix(web): auth0 error when refresh token
  web/src/auth/provider.tsx
Labels: web

#438 fix(web): storybook v7 setup
  web/.storybook/main.ts
  web/.storybook/preview.tsx
  web/package.json
  web/src/components/atoms/Balloon/index.stories.tsx
  web/src/components/atoms/Plugin/IFrame/index.stories.tsx
  web/src/components/atoms/Plugin/index.stories.tsx
  web/src/components/molecules/EarthEditor/PropertyPane/PropertyField/TypographyField/FontFormatField/index.stories.tsx
  web/src/components/molecules/EarthEditor/PropertyPane/PropertyField/TypographyField/FontSizeField/index.stories.tsx
  web/yarn.lock
Labels: web

#439 fix(web): stories name conflicts
  web/src/classic/core/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/classic/core/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/classic/core/Crust/Plugins/PluginFrame/index.stories.tsx
Labels: web

#442 fix(web): use error boundary in core Visualizer
  web/src/classic/core/Visualizer/Error.tsx
  web/src/classic/core/Visualizer/index.tsx
Labels: web

#424 feat(server): add coreSupport flag to project
  server/e2e/common.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  server/schema.graphql
Labels: server

#430 fix(server): fs does not work on windows
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
Labels: server

#444 feat(web): Re:Earth Beta routing and basic component structure
  web/src/app.tsx
  web/src/beta/features/LeftPanel/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/RightPanel/index.tsx
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/hooks/index.ts
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/pages/Editor/index.tsx
Labels: web

#445 refactor(server): use reearthx mailer
  server/go.mod
  server/go.sum
  server/internal/app/repo.go
  server/internal/infrastructure/mailer/aws_ses.go
  server/internal/infrastructure/mailer/common.go
  server/internal/infrastructure/mailer/common_test.go
  server/internal/infrastructure/mailer/direct.go
  server/internal/infrastructure/mailer/logger.go
  server/internal/infrastructure/mailer/mock.go
  server/internal/infrastructure/mailer/sendgrid.go
  server/internal/infrastructure/mailer/smtp.go
  server/internal/usecase/gateway/container.go
  server/internal/usecase/interactor/user.go
  server/internal/usecase/interactor/user_signup.go
  server/internal/usecase/interactor/user_signup_test.go
Labels: server

#446 refactor(server): graphql schema
  server/.graphqlconfig
  server/gql/_shared.graphql
  server/gql/asset.graphql
  server/gql/cluster.graphql
  server/gql/dataset.graphql
  server/gql/layer.graphql
  server/gql/plugin.graphql
  server/gql/project.graphql
  server/gql/property.graphql
  server/gql/scene.graphql
  server/gql/tag.graphql
  server/gql/team.graphql
  server/gql/user.graphql
  server/gql/was.graphql
  server/gqlgen.yml
  server/graphql.config.yml
  server/internal/adapter/gql/generated.go
  server/schema.graphql
Labels: server

#452 chore(web): update eslint and tsconfig to include `any` use
  web/.eslintrc.yml
  web/tsconfig.json
Labels: web

#450 feat(server): support AWS Cognito auth server
  server/.env.example
  server/e2e/common.go
  server/e2e/dataset_export_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_test.go
  server/e2e/ping_test.go
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/auth_server.go
  server/internal/app/auth_server_test.go
  server/internal/app/config.go
  server/internal/app/config/auth.go
  server/internal/app/config/auth_server.go
  server/internal/app/config/auth_test.go
  server/internal/app/config/config.go
  server/internal/app/config/config_test.go
  server/internal/app/config/gcs.go
  server/internal/app/config/gql.go
  server/internal/app/config/marketplace.go
  server/internal/app/config/policy.go
  server/internal/app/config/published.go
  server/internal/app/config/web.go
  server/internal/app/graphql.go
  server/internal/app/jwt.go
  server/internal/app/main.go
  server/internal/app/repo.go
  server/internal/app/tracer.go
  server/internal/app/usecase.go
  server/internal/app/web.go
  server/internal/app/web_test.go
Labels: server

#440 feat(server): support AWS S3 storage
  go.work.sum
  server/.env.example
  server/go.mod
  server/go.sum
  server/internal/app/config/config.go
  server/internal/app/config/file.go
  server/internal/app/config/gcs.go
  server/internal/app/repo.go
  server/internal/infrastructure/s3/s3.go
Labels: server

#453 ci(web): update web codecov settings
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
  codecov.yml
Labels: web

#448 refactor(web): Beta tab routing
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/hooks/index.ts
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/pages/Editor/index.tsx
  web/src/services/routing/index.tsx
Labels: web

#454 docs: add badges to server and web READMEs
  server/README.md
  web/README.md
Labels: server, web
