Repository reearth/reearth-visualizer, pull requests merged in 2023-11, with the labels that each got.

#768 chore(web): Timeline field
  web/src/beta/components/fields/TimelineField/EditPanel/hooks.ts
  web/src/beta/components/fields/TimelineField/EditPanel/index.tsx
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#778 chore(web): add consistency to react imports
  web/src/beta/components/Popover/hooks.ts
  web/src/beta/components/Portal/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/lib/lexical/RichTextEditor/ui/DropDown.tsx
Labels: web

#780 chore(web): fix mvt layer behaviour
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
Labels: web

#777 chore(web): czml and kml local not working
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
Labels: web

#779 chore(web): fix local name is random when added through asset
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
Labels: web

#781 chore(web): fix layerName random on upload directly
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
Labels: web

#785 chore(server): add layers in pageJSON of published story
  server/e2e/gql_storytelling_test.go
  server/pkg/scene/builder/story.go
Labels: server

#774 chore(server): add story background setting
  server/pkg/builtin/manifest.yml
Labels: server

#788 chore(web): refactor property and revert core
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
Labels: web

#790 chore(web): add height to marker appearance
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Labels: web

#789 chore(web): Minor fixes in map editor
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
Labels: web

#755 chore(web): add scene setting
  server/pkg/builtin/manifest.yml
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useScene.ts
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/lib/core/Crust/context.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/core/Globe.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/api/sceneApi.ts
Labels: server, web

#791 chore(server): add bgColor to story
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/story.go
  server/pkg/storytelling/story.go
Labels: server

#787 chore(server): add position, bgColor & title to story & page json respectively for published story
  server/e2e/gql_storytelling_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Labels: server

#792 chore(web): 3dtile feature select support in UI
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/services/state/index.ts
Labels: web

#793 chore(web): misc bug fixes improvements
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Editor/useScene.ts
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
  web/src/services/state/index.ts
Labels: web

#776 chore(web): storyblock ux update
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Labels: web

#794 chore(web): auto create page on project creation
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#795 chore(web): Slider fixes
  web/src/beta/components/fields/SliderField/index.stories.tsx
  web/src/beta/components/fields/SliderField/index.tsx
Labels: web

#796 chore(web): new beta notification
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
Labels: web

#797 chore(web): fix text and camera button blocks
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/lexical/RichTextEditor/index.tsx
Labels: web

#750 chore(web): timeline block
  web/src/beta/components/Icon/Icons/pause.svg
  web/src/beta/components/Icon/Icons/set.svg
  web/src/beta/components/Icon/Icons/slider.svg
  web/src/beta/components/Icon/Icons/timeline-play-left.svg
  web/src/beta/components/Icon/Icons/timeline-play-right.svg
  web/src/beta/components/Icon/Icons/timelineStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/fields/TimelineField/EditPanel/hooks.ts
  web/src/beta/components/fields/TimelineField/EditPanel/index.tsx
  web/src/beta/components/fields/TimelineField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useTimelineBlock.ts
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/gql/__gen__/graphql.ts
Labels: web

#782 chore(web): visualizer clock update
  web/src/beta/components/fields/DateTimeField/EditPanel/hooks.ts
  web/src/beta/components/fields/DateTimeField/EditPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
Labels: web

#799 chore(web): collapse side panels
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
Labels: web

#775 chore(web): Add story background setting
  web/src/beta/components/fields/ColorField/index.tsx
  web/src/beta/components/fields/ColorField/types.ts
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/components/fields/index.tsx
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Labels: web

#801 chore(web): fix gap field component
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
Labels: web

#803 chore(web): bug fixes
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/services/api/propertyApi/index.ts
Labels: web

#800 chore(web): handle misfiring of singleClick on doubleClick at layerName and layerStyleName
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
Labels: web

#804 chore(web): fix classic notification bar
  web/package.json
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/classic/components/atoms/Notification/index.stories.tsx
  web/src/classic/components/atoms/Notification/index.test.tsx
  web/src/classic/components/atoms/Notification/index.tsx
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/Common/AssetContainer/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/EarthEditor/CanvasArea/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DataSourcePane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/DatasetInfoPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/ExportPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/Header/hooks.ts
  web/src/classic/components/organisms/EarthEditor/LeftMenu/hooks.ts
  web/src/classic/components/organisms/EarthEditor/OutlinePane/hooks.tsx
  web/src/classic/components/organisms/EarthEditor/PrimitiveHeader/hooks.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks-queries.ts
  web/src/classic/components/organisms/EarthEditor/PropertyPane/hooks.ts
  web/src/classic/components/organisms/EarthEditor/RightMenu/hooks.ts
  web/src/classic/components/organisms/EarthEditor/TagPane/commonHooks.ts
  web/src/classic/components/organisms/EarthEditor/core/CanvasArea/hooks.ts
  web/src/classic/components/organisms/GlobalModal/index.tsx
  web/src/classic/components/organisms/Notification/hooks.ts
  web/src/classic/components/organisms/Notification/index.tsx
  web/src/classic/components/organisms/Published/core/hooks.ts
  web/src/classic/components/organisms/Settings/Account/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Dataset/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Plugin/hooks.ts
  web/src/classic/components/organisms/Settings/Project/Public/hooks.ts
  web/src/classic/components/organisms/Settings/Project/hooks.ts
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/classic/components/organisms/Settings/SettingPage/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/Asset/hooks.ts
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/classic/components/pages/EarthEditor/hooks.ts
  web/src/classic/components/pages/Preview/index.tsx
  web/src/classic/state/index.ts
  web/src/services/state/index.ts
Labels: web

#757 chore(web): Multi layer Select
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/components/Icon/Icons/layer.svg
  web/src/beta/components/Icon/Icons/showLayersStoryBlock.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/fields/SelectField/index.stories.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/features/Editor/Visualizer/convert-story.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
  web/src/beta/features/PublishedVisualizer/convert-story.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/useActionPropertyApi.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/constants.ts
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#805 chore(web): UI updates
  web/src/beta/components/Resizable/index.tsx
  web/src/beta/features/Editor/BottomPanel/index.tsx
  web/src/beta/features/Editor/SecondaryNav/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyle.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Notification/hooks.ts
  web/src/beta/features/Notification/index.tsx
Labels: web

#809 chore(web): ui and ux fixes
  server/pkg/builtin/manifest.yml
  web/src/beta/components/Icon/Icons/timelineStoryBlock.svg
  web/src/beta/components/Icon/Icons/timelineStoryBlockSolid.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/features/Editor/SidePanel/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/Action/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Content.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#811 chore(web): move doubleClick with debounce to utils
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/utils/use-double-click.ts
Labels: web

#806 chore(web): Story page click away
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Labels: web

#812 chore(web): fix feature unselection
  web/src/beta/lib/core/Map/Layers/hooks.ts
Labels: web

#817 fix(chore): invoke requestRender in primitive features whenever component is updated
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Model/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Polygon/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Polyline/index.tsx
Labels: web

#814 chore: remove the timeOut from text input
  web/src/beta/components/CatalogCard/index.tsx
  web/src/beta/components/fields/TextField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
Labels: web

#818 chore(web): fix overriding layer structure
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.ts
Labels: web

#751 chore(web): beta zindexes
  web/src/beta/components/CatalogCard/index.tsx
  web/src/beta/components/InsertionBar/index.tsx
  web/src/beta/components/Loading/index.tsx
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/PopoverMenuContent/index.tsx
  web/src/beta/components/fields/DateTimeField/EditPanel/index.tsx
  web/src/beta/components/fields/DateTimeField/index.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/features/Editor/Visualizer/FovSlider/index.tsx
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerStyleValueEditor.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Notification/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/MarketplacePublish/index.tsx
  web/src/beta/lib/core/Crust/Infobox/Field/index.tsx
  web/src/beta/lib/core/Crust/Infobox/Frame/index.tsx
  web/src/beta/lib/core/Crust/Plugins/Plugin/ModalContainer/index.tsx
  web/src/beta/lib/core/Crust/Plugins/Plugin/PopupContainer/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/UI/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/index.tsx
  web/src/beta/lib/core/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Page/BlockAddBar.tsx
  web/src/beta/lib/core/StoryPanel/PageIndicator/index.tsx
  web/src/beta/lib/core/Visualizer/DropHolder.tsx
  web/src/services/theme/reearthTheme/common/zIndex.ts
Labels: web

#813 chore(web): add an API to get description from entity
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/utils.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/pickMany.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/beta/lib/core/mantle/types/index.ts
Labels: web

#802 chore(web): drag in timeline blog
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
Labels: web

#815 chore(web): double click on page name
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/PageItem.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/Editor.tsx
Labels: web

#810 chore(web): Story block edit Panel layout
  web/src/beta/components/fields/CameraField/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Layer/Editor/index.tsx
Labels: web

#821 chore(web): fix timeline field component's popover
  web/src/beta/components/fields/DateTimeField/index.tsx
  web/src/beta/components/fields/TimelineField/EditPanel/index.tsx
Labels: web

#819 chore: fix input field popover
  web/src/beta/components/fields/SelectField/index.tsx
Labels: web

#822 chore(web): reset current page on tab change
  web/src/beta/components/Popover/index.tsx
  web/src/beta/components/fields/SelectField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/hooks/useElementOnScreen.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
Labels: web

#823 chore(web): fix padding settings for page
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Labels: web

#824 chore(web): fix camera behavior in interaction mode
  web/src/beta/lib/core/Crust/featureFlags.ts
  web/src/beta/lib/core/Crust/interactionMode.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
Labels: web

#827 chore(server): add panel setting to manifest
  server/pkg/builtin/manifest.yml
Labels: server

#832 chore: modify the description of zoom level
  server/pkg/builtin/manifest.yml
Labels: server

#826 chore(web): fix story page bugs
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/PageItem.tsx
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#828 chore(web): timefield bug fix
  web/src/beta/components/fields/DateTimeField/index.tsx
Labels: web

#831 chore: fix title's panel setting
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
Labels: web

#834 fix(web): core marker extrude check for coordinates height
  web/src/beta/lib/core/engines/Cesium/Feature/Marker/index.tsx
  web/src/classic/core/engines/Cesium/Feature/Marker/index.tsx
Labels: web

#829 chore(web): fix story block bugs
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/index.tsx
Labels: web

#837 chore(web): Fix story block creation and preview
  web/src/beta/lib/core/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
Labels: web

#808 chore(web): modify zoom level field
  web/src/beta/components/RangeSlider/index.stories.tsx
  web/src/beta/components/RangeSlider/index.tsx
  web/src/beta/components/fields/Property/PropertyField/index.tsx
  web/src/beta/components/fields/RangeField/index.stories.tsx
  web/src/beta/components/fields/RangeField/index.tsx
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
Labels: web

#838 chore(web): Improve asset modal
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/features/Assets/types.ts
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#842 chore(web): finalize Japanese translations
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/DataSourceManager/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#840 chore(web): fix title padding changes updating page padding
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Labels: web

#845 chore(web): fix unsafe builtin widget logic to work well on published page
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/index.ts
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/unsafeBlocks.ts
  web/src/beta/lib/core/Crust/Infobox/Block/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/unsafeWidgets.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/published.tsx
Labels: web
