Repository reearth/reearth-visualizer, pull requests merged in 2023-10, with the labels that each got.

#720 chore(web): update story text block fontsize options
  web/src/beta/lib/lexical/RichTextEditor/plugins/ToolbarPlugin.tsx
Labels: web

#717 chore(web): fix upload file bug
  web/src/beta/components/Modal/index.tsx
Labels: web

#721 fix(server): workspace policy was not loaded from db correctly
  .vscode/launch.json
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/gqlmodel/workspace.go
  server/internal/adapter/gql/gqlmodel/workspace_test.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_policy.go
  server/internal/app/config/policy.go
  server/internal/infrastructure/memory/policy.go
  server/internal/infrastructure/memory/policy_test.go
  server/internal/infrastructure/mongo/mongodoc/config.go
  server/internal/infrastructure/mongo/mongodoc/policy.go
  server/internal/infrastructure/mongo/policy.go
  server/internal/infrastructure/mongo/policy_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/dataset.go
  server/internal/usecase/interactor/layer.go
  server/internal/usecase/interactor/policy.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/policy.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/policy.go
  server/pkg/policy/policy.go
  server/pkg/policy/policy_test.go
Labels: server

#722 fix(server): workspace member count is not limited by policies
  server/go.mod
  server/go.sum
  server/internal/app/auth_client.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/policy.go
Labels: server

#724 fix(web): trim leading zeros from number fields
  web/src/beta/components/fields/common/NumberInput/index.tsx
Labels: web

#725 refactor(web): Remove dropdown component
  web/src/beta/components/Dropdown/index.stories.tsx
  web/src/beta/components/Dropdown/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/Menus/MenuList/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
Labels: web

#716 chore(web): add multi feature selection APIs
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/storybook.tsx
  web/src/beta/lib/core/Crust/context.ts
  web/src/beta/lib/core/Map/Layers/hooks.test.ts
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/Map/Layers/index.tsx
  web/src/beta/lib/core/Map/Layers/keys.ts
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/ref.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/utils.tsx
  web/src/beta/lib/core/engines/Cesium/pickMany.ts
  web/src/beta/lib/core/engines/Cesium/type.d.ts
  web/src/beta/lib/core/engines/Cesium/types.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/beta/lib/core/mantle/types/appearance.ts
  web/src/beta/lib/core/mantle/types/index.ts
  web/src/beta/lib/core/utils/assertType.ts
  web/src/beta/lib/core/utils/index.ts
Labels: web

#727 chore(web): show installed widgets & fix computed feature property
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/services/api/widgetsApi/utils.ts
Labels: web

#726 chore: add asset type to data source manager
  web/src/beta/features/Editor/DataSourceManager/Asset/index.tsx
Labels: web

#730 chore(web): camera issues in storytelling
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
Labels: web

#733 chore(server): refactor and fix issue w style
  server/e2e/gql_style_test.go
  server/gql/style.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/adapter/gql/resolver_mutation_style.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/adapter/gql/resolver_style.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/style.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/style.go
  server/internal/infrastructure/mongo/style.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/style.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/style.go
  server/pkg/scene/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/sceneops/style_initializer.go
  server/pkg/scene/style.go
  server/pkg/scene/style_builder.go
  server/pkg/scene/styles_list.go
Labels: server

#732 chore(server): modify update method for config change in NLSLayer
  server/e2e/gql_nlslayer_test.go
  server/pkg/nlslayer/nlslayer.go
Labels: server

#731 chore: add idProperty to data
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
  web/src/beta/lib/core/mantle/types/index.ts
Labels: web

#718 chore(web): add timeline manager
  web/src/beta/lib/core/Crust/Plugins/Plugin/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/api.ts
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/index.tsx
  web/src/beta/lib/core/Crust/context.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Map/ref.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Map/useTimelineManager.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/context.ts
  web/src/beta/lib/core/engines/Cesium/core/Clock.tsx
  web/src/beta/lib/core/engines/Cesium/core/Indicator.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/utils/time.ts
Labels: web

#736 chore(web): fix some bugs around feature selection functionality
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/pickMany.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
Labels: web

#737 chore(web): fix color field select
  web/src/beta/components/fields/ColorField/hooks.ts
  web/src/beta/components/fields/ColorField/index.tsx
Labels: web

#714 chore(web): story page update
  web/src/beta/features/Editor/Settings/hooks.ts
  web/src/beta/features/Editor/Settings/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/storytellingApi/pages.ts
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#728 chore(web): add sorting functionality to assets
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#738 chore(web): customize file extension in upload file's window
  web/src/beta/components/fields/URLField/index.tsx
  web/src/beta/hooks/useAssetUploader/hooks.tsx
Labels: web

#729 chore(web): Camera block
  web/src/beta/components/fields/ListField/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/useActionPropertyApi.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/usePropertyValueUpdate.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/index.ts
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#715 chore(web): story panel refactor
  server/pkg/builtin/manifest.yml
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/Overlay/index.tsx
  web/src/beta/components/fields/SpacingInput/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/tabs/widgets/RightPanel/ContainerSettings/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Button/index.tsx
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Navigator/hooks.ts
  web/src/beta/lib/core/Crust/Widgets/Widget/builtin/Timeline/hooks.ts
  web/src/beta/lib/core/StoryPanel/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/Editor.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Image/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Markdown/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Text/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/VideoPlayer.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Video/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/ActionPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/Wrapper.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/hooks.ts
  web/src/beta/lib/core/StoryPanel/Block/builtin/common/useActionPropertyApi.ts
  web/src/beta/lib/core/StoryPanel/Block/types.ts
  web/src/beta/lib/core/StoryPanel/Page/hooks.ts
  web/src/beta/lib/core/StoryPanel/Page/index.tsx
  web/src/beta/lib/core/StoryPanel/PanelContent/hooks.ts
  web/src/beta/lib/core/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
  web/src/beta/lib/core/StoryPanel/hooks.ts
  web/src/beta/lib/core/StoryPanel/hooks/useFieldComponent.tsx
  web/src/beta/lib/core/StoryPanel/index.tsx
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/beta/lib/core/StoryPanel/utils.ts
  web/src/beta/utils/published.ts
  web/src/services/api/propertyApi/utils.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#740 chore(web): add date time field component
  web/src/beta/components/fields/DateTimeField/index.stories.tsx
  web/src/beta/components/fields/DateTimeField/index.tsx
  web/src/beta/components/fields/PropertyFields/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/services/api/propertyApi/utils.ts
Labels: web

#739 chore(web): fly to layers
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLeftPanel.tsx
Labels: web

#735 chore(web): hide and show layer
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/GroupField/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.stories.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useLeftPanel.tsx
  web/src/beta/lib/core/Map/Layers/index.test.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
Labels: web

#743 chore(server): add cesium-beta viz support in server
  server/internal/usecase/interactor/scene.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/visualizer/visualizer.go
Labels: server

#746 chore(web): improve performance of flyTo
  web/src/beta/lib/core/engines/Cesium/useEngineRef.ts
  web/src/beta/lib/core/engines/Cesium/utils.ts
Labels: web

#742 fix(server): check project count to ensure policy on project republication
  server/internal/usecase/interactor/project.go
Labels: server

#747 chore(web): fix visible state
  web/src/beta/lib/core/engines/Cesium/Feature/index.tsx
Labels: web

#748 chore(server): update manifest and plugin_schema to support collection in schemaGroup
  server/pkg/builtin/manifest.yml
  server/schemas/plugin_manifest.json
Labels: server

#753 chore(web): fixes and refactoring to layer style system
  web/src/beta/features/Editor/tabs/map/BottomPanel/LayerStyleCard.tsx
  web/src/beta/features/Editor/useLayerStyles.ts
  web/src/beta/features/Modals/LayerStyleModal/hooks.ts
  web/src/beta/features/Modals/LayerStyleModal/index.tsx
Labels: web

#754 chore(web): update default layer style
  web/src/beta/utils/value.ts
Labels: web

#752 chore(web): fix the date time component
  web/src/beta/components/fields/DateTimeField/index.tsx
  web/src/services/api/propertyApi/utils.ts
Labels: web

#760 chore(web): fix flyTo giving error in beta
  web/src/beta/utils/value.ts
Labels: web

#761 chore(web): StoryBlock isList default fix
  web/src/beta/lib/core/StoryPanel/Block/builtin/Camera/index.tsx
Labels: web

#741 chore(web): Updated fields in Settings
  web/src/beta/components/fields/TextAreaField/index.stories.tsx
  web/src/beta/components/fields/TextAreaField/index.tsx
  web/src/beta/components/fields/TextField/index.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#759 chore(server, web): add map valueType to property
  server/gql/_shared.graphql
  server/internal/adapter/gql/generated.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/value.go
  server/pkg/value/map.go
  server/pkg/value/map_test.go
  server/pkg/value/type.go
  server/schemas/plugin_manifest.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#769 chore(server): add nlslayer in project & story publishing
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/story.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/nlsLayer.go
  server/pkg/scene/builder/scene.go
  server/pkg/storytelling/id.go
Labels: server

#767 chore(web): date time field input
  web/package.json
  web/src/beta/components/Icon/Icons/Clock.svg
  web/src/beta/components/Icon/icons.ts
  web/src/beta/components/fields/CameraField/CapturePanel/index.tsx
  web/src/beta/components/fields/CameraField/EditPanel/index.tsx
  web/src/beta/components/fields/DateTimeField/EditPanel/hooks.ts
  web/src/beta/components/fields/DateTimeField/EditPanel/index.tsx
  web/src/beta/components/fields/DateTimeField/index.tsx
  web/src/beta/components/fields/common/PanelCommon.tsx
  web/src/beta/components/fields/common/TextInput/index.tsx
  web/src/beta/utils/moment-timezone.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#763 chore(web): Layer inspector
  web/package.json
  web/src/beta/components/TabMenu/index.stories.tsx
  web/src/beta/components/TabMenu/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/InspectorTabs.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/FeatureData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerData.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/LayerStyle.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/tabs/map/RightPanel/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Editor/useRightPanel.tsx
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/ClusteredLayers/index.tsx
  web/src/beta/lib/core/Map/Layers/hooks.test.ts
  web/src/beta/lib/core/Map/Layers/hooks.ts
  web/src/beta/lib/core/Map/Layers/index.tsx
  web/src/beta/lib/core/Map/hooks.ts
  web/src/beta/lib/core/Map/index.tsx
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
  web/yarn.lock
Labels: web

#766 chore: Add super admin configuration
  web/e2e/utils/config.ts
  web/src/classic/components/molecules/Dashboard/QuickStart.tsx
  web/src/classic/components/organisms/Settings/ProjectList/hooks.ts
  web/src/services/config/index.ts
Labels: web

#723 chore(web): refactor story dnd
  web/src/beta/components/DragAndDropList/index.tsx
  web/src/beta/components/DragAndDropList/scrollItem.tsx
  web/src/beta/lib/core/StoryPanel/SelectableArea/hooks.ts
  web/src/beta/lib/core/StoryPanel/SelectableArea/index.tsx
Labels: web

#770 chore(server): add array and timeline valuetype to property
  server/gql/_shared.graphql
  server/gql/property.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/builtin/manifest.yml
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/property/value.go
  server/pkg/property/value_spacing.go
  server/pkg/property/value_spacing_test.go
  server/pkg/property/value_timeline.go
  server/pkg/value/array.go
  server/pkg/value/map.go
  server/pkg/value/map_test.go
  server/pkg/value/type.go
  server/schemas/plugin_manifest.json
Labels: server

#764 chore(server, web): add collection to property schemaGroup
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/plugin/manifest/convert.go
  server/pkg/plugin/manifest/convert_test.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/plugin/manifest/schema_translation.go
  server/pkg/property/schema_group.go
  server/pkg/property/schema_group_builder.go
  server/pkg/property/schema_group_test.go
  server/schemas/plugin_manifest.json
  web/src/beta/lib/core/mantle/types/value.ts
  web/src/beta/utils/value.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/property.ts
Labels: server, web

#771 chore: fix delete last page doesn't refresh the right panel
  web/src/beta/features/Editor/Settings/hooks.ts
  web/src/beta/features/Editor/tabs/story/RightPanel/index.tsx
  web/src/beta/features/Editor/useStorytelling.ts
Labels: web

#706 chore(web): update layer title default value in beta and update add layerName behaviour for mvt & wms
  web/src/beta/features/Editor/DataSourceManager/Common/index.tsx
  web/src/beta/features/Editor/DataSourceManager/DelimitedText/index.tsx
  web/src/beta/features/Editor/DataSourceManager/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/VectorTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/WmsTiles/index.tsx
  web/src/beta/features/Editor/DataSourceManager/hooks.ts
  web/src/beta/features/Editor/DataSourceManager/utils.tsx
Labels: web

#762 chore: fix page title empty string
  web/src/beta/features/Editor/tabs/story/LeftPanel/ContentPage/index.tsx
  web/src/beta/lib/core/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/utils/util.ts
Labels: web

#772 chore(server): add layerStyles to publishing
  server/e2e/gql_storytelling_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/layerStyle.go
  server/pkg/scene/builder/scene.go
Labels: server

#744 chore(web): beta publishing
  server/pkg/builtin/manifest.yml
  web/src/beta/components/Button/index.tsx
  web/src/beta/components/ListItem/index.tsx
  web/src/beta/components/Modal/ModalFrame/index.tsx
  web/src/beta/components/Modal/index.tsx
  web/src/beta/components/NotFound/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/LayerItem.tsx
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/PublishModal/index.tsx
  web/src/beta/features/Editor/tabs/publish/Nav/hooks.ts
  web/src/beta/features/Editor/tabs/publish/Nav/index.tsx
  web/src/beta/features/Editor/useLayers.ts
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/features/PublishedVisualizer/ga.ts
  web/src/beta/features/PublishedVisualizer/ga4.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/index.tsx
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/beta/features/PublishedVisualizer/useGA.ts
  web/src/beta/hooks/index.ts
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/lib/core/StoryPanel/types.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/utils/published.ts
  web/src/beta/utils/use-core.ts
  web/src/publishedapp.tsx
  web/src/services/api/storytellingApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/darkTheme/index.ts
Labels: server, web

#773 chore(server): add play mode to timeline setting in manifest
  server/pkg/builtin/manifest.yml
Labels: server
