Repository reearth/reearth-visualizer, pull requests merged in 2024-08, with the labels that each got.

#1081 chore(web): upgrade @reearth/core
  web/package.json
  web/yarn.lock
Labels: web

#1080 chore(web): clean up some dependencies
  web/.storybook/main.ts
  web/package.json
  web/src/env.d.ts
  web/vite.config.ts
  web/yarn.lock
Labels: web

#1082 fix(web): block icons and layer panel height
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/components/BlockAddBar/index.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
Labels: web

#1076 fix(server): save project updated_at when features updated
  server/e2e/gql_nlslayer_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
Labels: server

#1084 fix(web): story page property
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/hooks.ts
Labels: web

#1087 feat(sever): support update custom properties mutation
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interfaces/nlslayer.go
Labels: server

#1069 chore(web): refactor publishModal
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/Editor/Publish/context.tsx
  web/src/beta/features/Editor/Publish/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/hooks/navigationHooks.ts
  web/src/beta/lib/reearth-ui/components/Icon/Icons/CaretDoubleUp.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Lock.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PaperPlaneTilt.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1090 fix(web): pagination with duplicate data fetch
  web/src/services/gql/provider/pagination.ts
Labels: web

#1088 feat(web): update custom properties schema
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CSV/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/VectorTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/WmsTiles/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/General/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/type.ts
  web/src/beta/features/Editor/Map/SketchLayerCreator/types.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/hooks.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/services/api/layersApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/layer.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1091 refactor(web): submit button for sketch feature custom property update
  web/.storybook/main.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Labels: web

#1083 refactor(web): amend navbar breadcrumb UI
  web/src/beta/features/Modals/WorkspaceCreationModal/index.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/Menus/ProjectMenu/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/types.ts
  web/src/beta/lib/reearth-ui/components/Icon/Icons/plugin.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/switch.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/user.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1055 feat(web): implements projects functionalities
  web/src/beta/features/Dashboard/ContentsContainer/Assets/AssetCard.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/CommonHeader.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Labels: web

#1086 refactor(web): project settings page
  web/src/beta/components/Markdown/index.tsx
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/menuItem.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetContainer/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/AssetDeleteModal/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/deleteModal.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemBody.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/PluginAccordionItem/itemHeader.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/index.stories.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginAccordion/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/MarketplacePublish/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginInstallCardButton.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginList/PluginListItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginList/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PrivateRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/ZipUpload/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Markdown/Editor.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Install.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PaperPlaneTilt.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PublicGitHubRepo.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Sidebar.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Time.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/UploadZipPlugin.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/Icon/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1093 refactor(web): update UI on dashboard workspace menu & nav bar & infobox built in blocks
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/DefaultFields/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Text/index.tsx
Labels: web

#1089 fix(server): project sort with reverting options
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/project.go
Labels: server

#1095 chore(server, web): filter out classic asset from visualizer
  server/internal/infrastructure/mongo/asset.go
  web/src/services/api/assetsApi.ts
Labels: server, web

#1097 chore(server, web): add sort direction to project sort
  server/e2e/gql_project_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/project.go
  server/pkg/project/sort_type.go
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Labels: server, web

#1099 refactor(web): sort for projects
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1100 feat(server): add sort direction to assets
  server/e2e/gql_project_test.go
  server/go.sum
  server/gql/_shared.graphql
  server/gql/asset.graphql
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/asset.go
  server/pkg/asset/sort_type.go
  server/pkg/asset/sort_type_test.go
Labels: server

#1101 refactor(web): update sort for projects and assets
  web/src/beta/features/Assets/hooks.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/asset.ts
  web/src/services/gql/queries/project.ts
Labels: web

#1104 fix(web): disable link when id undefined
  web/src/beta/features/Navbar/LeftSection/index.tsx
Labels: web

#1105 feat(web): support delete sketch feature
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/services/api/featureCollectionApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/featureCollection.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1103 refactor(web): evict project cache after delete project
  web/src/services/api/projectApi.ts
Labels: web

#1106 chore(web): upgrade vite plugin cesium
  web/package.json
  web/vite.config.ts
  web/yarn.lock
Labels: web

#1107 fix(web): camera duration bug
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/PageIndicator/IndicatorSection.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/fields/CamersField/index.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
Labels: web

#1102 fix(web): sketch feature id changes when update custom property
  web/package.json
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/features/Visualizer/Crust/Infobox/hooks.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/yarn.lock
Labels: web

#1111 fix(web): assets upload & sort & size unit
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/api/assetsApi.ts
Labels: web

#1109 chore(web): remember the open status of Feature Inspector Groups
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/SceneSettings/index.tsx
Labels: web

#1113 refactor(web): layer style container
  web/src/beta/features/Editor/Map/LayerStylePanel/LayerStyleItem.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/hooks/useLayerStyles.ts
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1115 feat(server): starred projects query
  server/e2e/gql_project_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
Labels: server

#1078 chore(web): update web README.md and local env
  web/.env.local
  web/.gitignore
  web/README.md
  web/e2e/utils/config.ts
  web/src/services/config/index.ts
Labels: web

#1117 feat(web): builtin infobox video and markdown block
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  server/schemas/plugin_manifest.json
  web/package.json
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/components/SidePanelSectionField/index.tsx
  web/src/beta/components/fields/CameraField/CapturePanel/index.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Image/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Video/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/useExpressionEval.ts
  web/src/beta/features/Visualizer/Crust/Infobox/constants.ts
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.stories.tsx
  web/src/beta/pages/Dashboard/index.tsx
  web/src/beta/pages/EditorPage/index.tsx
  web/src/beta/pages/PluginPlaygroundPage/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/yarn.lock
Labels: server, web

#1122 fix(web): support content input scroll
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
Labels: web
