Repository reearth/reearth-visualizer, pull requests merged in 2024-07, with the labels that each got.

#1036 feat(web): basic structure of plugin playground
  web/src/beta/features/Editor/Map/index.tsx
  web/src/beta/features/Editor/Publish/index.tsx
  web/src/beta/features/Editor/Widgets/index.tsx
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/pages/PluginPlaygroundPage/index.tsx
  web/src/beta/ui/layout/Area/index.stories.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/services/routing/index.tsx
Labels: web

#1040 feat(server): add sort, search and starred project functionality
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_team.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/sort_type.go
Labels: server

#1041 chore(web): update gql and yarn i18n
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1023 chore(web): visualizer dashbord
  web/src/beta/features/Assets/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Assets/AssetCard.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/CommonHeader.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/menuItem.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Dashboard/hooks.ts
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Modals/AssetModal/index.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ArrowLeftRight.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Crosshair.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FolderFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/List.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Question.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Star.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/StarFilled.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/User.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Users.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/UsersFour.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/Loading/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Typography/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/pages/Dashboard/index.tsx
  web/src/beta/utils/time.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/routing/index.tsx
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Labels: web

#1043 chore: update package version
  web/package.json
Labels: web

#1047 fix(web): expose git commit hash on window
  web/vite.config.ts
Labels: web

#1048 chore: fix lint error
  web/vite.config.ts
Labels: web

#1049 fix(web): embed git commit hash from vite in correct way
  web/src/main.tsx
  web/src/services/config/index.ts
  web/vite.config.ts
Labels: web

#1039 refactor(web): story page panel
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Editor/Story/PagesPanel/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/Action/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/Action/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/PageItemWrapper/index.stories.tsx
  web/src/beta/features/Editor/Story/TempContentStory/PageItemWrapper/index.tsx
  web/src/beta/features/Editor/Story/TempContentStory/index.tsx
  web/src/beta/features/Editor/Story/context.tsx
  web/src/beta/features/Editor/hooks/useStorytelling.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/propertyApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1044 style(web): update style for members' list wrapper
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
Labels: web

#1045 refactor(web): selected items of multiple selector
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
Labels: web

#1052 fix(server, web): project fetch failing
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
Labels: server, web

#1050 refactor(web): datasource layer creation
  web/src/beta/features/Dashboard/ContentsContainer/CommonHeader.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CSV/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/DelimitedText/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/VectorTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/WmsTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/hooks.ts
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Map/SharedComponent.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/utils.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LightBult.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/zIndex.ts
Labels: web

#1017 refactor(web): new field components
  web/src/beta/components/fields/CameraField/EditPanel/hooks.ts
  web/src/beta/components/fields/CameraField/types.ts
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/fields/AssetField.tsx
  web/src/beta/ui/fields/CamersField/CapturePanel.tsx
  web/src/beta/ui/fields/CamersField/EditorPanel.tsx
  web/src/beta/ui/fields/CamersField/hooks.ts
  web/src/beta/ui/fields/CamersField/index.tsx
  web/src/beta/ui/fields/CodeField.tsx
  web/src/beta/ui/fields/ColorField.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/fields/InputField.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.stories.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/SelectField.tsx
  web/src/beta/ui/fields/SpacingField.tsx
  web/src/beta/ui/fields/SwitchField.tsx
  web/src/beta/ui/fields/TextareaField.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel.tsx
  web/src/beta/ui/fields/TimePointField/hooks.ts
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1054 fix(web): sketch data not processed correctly
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Published/types.ts
  web/src/services/api/layersApi/utils.ts
Labels: web

#1058 refactor(web): scene settings inspector
  web/src/beta/components/Text/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/SceneSettings/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/RootPage/PageWrapper/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/NumberField.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/Properties/hooks.ts
  web/src/beta/ui/fields/Properties/index.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
  web/src/beta/ui/fields/utils.ts
  web/src/services/api/teams/index.ts
  web/src/services/gql/queries/teams.ts
  web/src/services/theme/emotion.d.ts
  web/src/services/theme/publishedAppProvider.tsx
Labels: web

#1059 feat(web): support dev plugins
  web/src/beta/features/Navbar/useDevPlugins.ts
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PluginInstall.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/PluginUpdate.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/utils/file.ts
  web/src/services/api/pluginsApi.ts
  web/src/services/config/index.ts
  web/src/services/state/devPlugins.ts
  web/src/services/state/index.ts
Labels: web

#1064 chore(web): Migrate Jotai to v2
  web/package.json
  web/yarn.lock
Labels: web

#1063 chore(web): fix typo in layer style notifications
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1066 refactor(web): widget tab
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WASToolsPanel/Devices/index.tsx
  web/src/beta/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetInspectorPanel/hooks.ts
  web/src/beta/features/Editor/Widgets/WidgetInspectorPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/Action.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
Labels: web

#1062 chore(web): upgrade yarn to 4.3.1
  .github/workflows/ci_web.yml
  web/.gitignore
  web/.yarnrc.yml
  web/package.json
  web/yarn.lock
Labels: web

#1061 refactor(web): layer inspector
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/LayerStyle/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/General/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Pallete.svg
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/ui/fields/InputField.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1071 fix(web): mvt and wms add button
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/VectorTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/WmsTiles/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
Labels: web

#1072 fix(web): Fix property List Block Height
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/index.tsx
Labels: web

#1067 chore(web): Correct EntryItem Theme Color
  web/src/beta/ui/components/EntryItem/index.tsx
Labels: web

#1074 chore(web): upgrade & clean up some dependencies & fix errors
  web/package.json
  web/src/beta/components/Icon/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/ScaleList.test.tsx
  web/src/services/api/types.ts
  web/src/services/gql/provider/links/uploadLink.ts
  web/tsconfig.json
  web/yarn.lock
Labels: web

#1068 fix(server): project name sort bug
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/seeder.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Labels: server

#1065 chore(web): refactor pageSettingpane and create checkbox
  web/src/beta/features/Editor/Story/PageSettingsPanel/hooks.ts
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/fields/CheckboxField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
Labels: web
