Repository reearth/reearth-visualizer, pull requests merged in 2024-12, with the labels that each got.

#1294 chore(web): clean up usage of "any" type in code-base
  web/e2e/utils/index.ts
  web/eslint.config.mjs
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/hooks.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/atoms.ts
  web/src/beta/pages/GraphQLPlayground/index.tsx
  web/src/beta/types/sceneProperty.ts
  web/src/beta/utils/value.ts
  web/src/sentry.ts
  web/src/services/auth/cognitoAuth.ts
  web/src/services/gql/provider/pagination.ts
  web/src/services/i18n/provider.tsx
  web/src/services/theme/provider.tsx
  web/src/services/theme/reearthTheme/common/fonts.ts
  web/src/services/theme/reearthTheme/common/globalStyles.tsx
  web/src/test/utils.tsx
  web/src/types.ts
  web/vite.config.ts
Labels: web

#1299 feat(web): support preset plugins on plugin playground
  web/src/beta/features/PluginPlayground/Code/HtmlEditModal.tsx
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1302 feat(web): setup basic widget ui
  server/pkg/builtin/manifest.yml
  web/components.json
  web/package.json
  web/postcss.config.js
  web/src/app.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/GoogleMapSearch/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/types.ts
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/button.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/card.tsx
  web/src/beta/lib/reearth-widget-ui/components/ui/input.tsx
  web/src/beta/lib/reearth-widget-ui/styles/globals.css
  web/src/beta/lib/reearth-widget-ui/utils.ts
  web/src/publishedapp.tsx
  web/src/services/api/widgetsApi/utils.ts
  web/tailwind.config.js
  web/tsconfig.json
  web/yarn.lock
Labels: server, web

#1297 fix(web): add missing `UNSAFE_PLUGIN_URLS` and `BRAND` environment variable
  web/Dockerfile
  web/docker/reearth_config.json.template
Labels: web

#1304 fix(web): widget ui style missing on built
  web/src/app.tsx
  web/src/main.tsx
  web/src/published.tsx
  web/src/publishedapp.tsx
Labels: web

#1305 feat(web): add ability to share plugin in plugin-playground
  web/package.json
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/yarn.lock
Labels: web

#1280 fix(web): remove`VISUALIZER` for runtime environment variables
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
  web/docker/reearth_config.json.template
Labels: web

#1312 feat(web): missing `disableWorkspaceManagement` envvar
  web/Dockerfile
  web/docker/reearth_config.json.template
Labels: web

#1313 fix(web): tailwind class not included on build
  web/tailwind.config.js
Labels: web

#1314 chore: add bind mounts tailwind and postcss config on docker build for web
  web/.dockerignore
  web/Dockerfile
Labels: web

#1315 feat(web): plugin playground presets sidebar
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
Labels: web

#1316 fix(web): number input logics
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
Labels: web

#1317 refactor(web): infobox's customized property list.
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/hooks.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
Labels: web

#1307 fix(web): refactor UI to plugin list in plugin playground page
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/AddFile.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Export.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Import.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
Labels: web

#1321 feat(server): Support reorder layer
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_layer_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_scene_test.go
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/layer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/layer/layer.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/scene/builder/nlsLayer.go
Labels: server

#1325 fix(web): add missing "extended" prop to plugin
  web/src/beta/features/PluginPlayground/Code/hook.ts
Labels: web

#1322 fix(web): layer style boolean selector field doesn't work properly with string value
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/BooleanSelectorInput.tsx
Labels: web
