Repository reearth/reearth-visualizer, pull requests merged in 2024-10, with the labels that each got.

#1143 feat(web): layer style node system
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/CodeTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/InterfaceTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleCode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ValueTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StylePanel.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/constant.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/index.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/threedtiles.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/hooks.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/hooks.ts
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/TextAa.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/services/api/layerStyleApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/fonts.ts
Labels: web

#1159 refactor(web): style code update style on blur
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleCode/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
Labels: web

#1154 feat(web): Export & Import Project
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/DownloadSimple.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/SignIn.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1155 feat(web): add account page to change password
  web/src/beta/features/AccountAndWorkSpaceSetting/hooks.ts
  web/src/beta/features/AccountAndWorkSpaceSetting/index.tsx
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/AccountSetting/PasswordModal/index.tsx
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/AccountSetting/index.tsx
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/common.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/pages/AccountSettingsPage/index.tsx
  web/src/services/api/meApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/routing/index.tsx
Labels: web

#1162 refactor(web): infobox min max height
  web/src/beta/features/Visualizer/Crust/Infobox/index.tsx
Labels: web

#1163 refactor(web): hide WIP setting pages on tab
  web/src/beta/features/AccountAndWorkSpaceSetting/index.tsx
Labels: web

#1164 feat(web): update preset layer style hideIndicator setting
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
Labels: web

#1153 feat(web): support edit sketch geometry on editor
  web/package.json
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useSketch.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/sketch.ts
  web/src/beta/features/Visualizer/Crust/Plugins/types.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#1165 refactor(web): refactor currentWorkspaceId
  web/src/beta/features/AccountAndWorkSpaceSetting/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/Navbar/index.tsx
Labels: web

#1166 chore(web): Update package version
  web/package.json
Labels: web

#1167 fix(web): update projects cache after delete
  web/src/services/api/projectApi.ts
Labels: web

#1168 refactor(web): layer style editor node support typography
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/BooleanSelectorInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/TypographyInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StylePanel.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
  web/src/beta/lib/reearth-ui/components/Typography/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1170 fix(server): extension cahnge
  server/internal/adapter/gql/resolver_mutation_project.go
Labels: server

#1161 refactor(web, server): Refacting depth test against terrain to globe
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/utils/convert-object.ts
Labels: server, web

#1171 chore(server): Download debug
  server/internal/infrastructure/gcs/file.go
Labels: server

#1173 chore(server): Roolback download debug
  server/internal/app/file.go
  server/internal/infrastructure/gcs/file.go
Labels: server

#1169 feat(server): Projects Recycle bin
  server/e2e/gql_project_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/project.go
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#1175 feat(web): new layer style final step
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/TypographyInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/constant.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polygon.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/polyline.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/threedtiles.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1179 feat(server): get only what hasn't been deleted
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Labels: server

#1180 fix(server): fetch undeleted project correctly
  server/internal/infrastructure/mongo/project.go
Labels: server

#1135 feat(server, web): mock auth server for local
  server/.env.example
  server/Makefile
  server/e2e/mock_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/http/user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config/config.go
  web/.env.example
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/mockAuth.ts
Labels: server, web

#1177 fix(web): add prop to indicate version in marketplace extension
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/services/config/extensions.ts
  web/src/types.ts
Labels: web

#1172 feat(web): support cesium and google photorealistic 3d tiles
  web/package.json
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#1174 feat(web): workspace setting page
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/AccountSetting/index.tsx
  web/src/beta/features/AccountAndWorkSpaceSetting/innerPages/common.tsx
  web/src/beta/features/AccountSetting/PasswordModal/index.tsx
  web/src/beta/features/AccountSetting/hooks.ts
  web/src/beta/features/AccountSetting/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/Navbar/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/WorkspaceSetting/hooks.ts
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/Workspaces.tsx
  web/src/beta/hooks/useAccountSettingsTabs.ts
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/pages/AccountSettingsPage/index.tsx
  web/src/beta/pages/WorkspaceSettingPage/index.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/services/api/meApi.ts
  web/src/services/api/workspacesApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/workspace.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/routing/index.tsx
Labels: web

#1125 fix(web): refactor typos with text copy
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1182 refactor(web): correct lang state in settings with meData
  web/src/beta/features/AccountSetting/hooks.ts
  web/src/beta/features/AccountSetting/index.tsx
  web/src/services/api/meApi.ts
Labels: web

#1184 feat(web): support asset field in layer style editor
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ValueTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
Labels: web

#1183 chore(web): support default built-in layer style
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/utils/value.ts
Labels: web

#1188 style(web): fix add layer resource icon style
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
Labels: web

#1191 fix(web): style code condition operator match
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
Labels: web

#1190 feat(web): add indicator for active gql requests
  web/src/beta/features/AccountSetting/index.tsx
  web/src/beta/features/CursorStatus/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/provider/links/index.ts
  web/src/services/gql/provider/links/taskLink.ts
  web/src/services/state/index.ts
Labels: web

#1181 feat(web): project recycle bin
  server/e2e/gql_project_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/pkg/project/builder.go
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/types.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectRemoveModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/ProjectDeleteModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/Published/NotFound.tsx
  web/src/beta/features/Published/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ArrowCounterClockWise.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/switch.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/pages/Page.tsx
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1194 fix(web): sidebar layout
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
Labels: web

#1178 feat(server): change project import api
  server/e2e/gql_storytelling_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/convert_plugin.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/app/auth_server.go
  server/internal/app/graphql.go
  server/internal/app/public.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/plugin_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_plugin.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interactor/tag.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/interfaces/style.go
  server/pkg/property/schema_field_builder.go
  server/pkg/property/schema_field_choice_builder.go
  server/pkg/property/schema_field_choice_builder_test.go
  server/pkg/property/schema_linkable_field.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/story.go
Labels: server

#1200 fix(server): debug export project file
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/scene.go
  server/pkg/scene/builder/builder.go
Labels: server

#1201 feat(server): fix export project
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
Labels: server

#1202 fix: update sub-route for projects
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/hooks/navigationHooks.ts
  web/src/services/routing/index.tsx
Labels: web

#1196 feat(web): data license builtin widget
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/package.json
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/index.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.tsx
  web/src/beta/features/Visualizer/Crust/context.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/atoms.ts
  web/src/beta/utils/value.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Labels: server, web

#1203 feat(web): add env var to control the display of workspace management pages
  web/.env.example
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Navbar/LeftSection/Profile/index.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.ts
  web/src/beta/pages/AccountSettingsPage/index.tsx
  web/src/beta/pages/WorkspaceSettingPage/index.tsx
  web/src/services/config/index.ts
Labels: web

#1195 feat(web): add support to copy asset url from asset dashboard
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1206 chore(web): update package version to 1.0.0-alpha.7
  web/package.json
Labels: web

#1207 refactor(web): update style filed default value & input type model
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/marker.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/types.ts
Labels: web

#1205 feat(server): project import export external url
  server/e2e/gql_import_export_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/test.zip
  server/internal/adapter/context.go
  server/internal/app/auth_client.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/pkg/scene/builder/decoder.go
Labels: server

#1209 fix(web): missing type gltf support for model asset input
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
Labels: web

#1213 refactor(web): improve cursor indicator
  web/src/beta/features/CursorStatus/index.tsx
Labels: web
