Repository reearth/reearth-visualizer, pull requests merged in 2024-11, with the labels that each got.

#1217 fix(web): exclude czml & kml for the default layer style
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Published/convert-new-property.ts
  web/src/beta/utils/layer-style.ts
Labels: web

#1211 style(web): move scroll bar styles to theme
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerContent.tsx
  web/src/beta/ui/components/SettingBase/index.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/services/theme/reearthTheme/common/index.ts
  web/src/services/theme/reearthTheme/common/scrollBar.ts
Labels: web

#1210 fix(web): no project shows up when sort is first created
  web/src/beta/hooks/useLoadMore.ts
Labels: web

#1218 chore(web): update package version to 1.0.0-alpha.8
  web/package.json
Labels: web

#1219 fix(web): error on load assets page
  web/src/beta/hooks/useLoadMore.ts
Labels: web

#1189 fix(web): plugin playground display plugins
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Labels: web

#1214 fix(web): Fix status of member's setting page
  web/src/beta/features/WorkspaceSetting/hooks.ts
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/AddMemberModal.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/Members.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/UpdateRoleModal.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceModal.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceWarningModal.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/Workspaces.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
  web/src/beta/pages/WorkspaceSettingPage/index.tsx
  web/src/services/api/meApi.ts
  web/src/services/api/workspacesApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1222 ci: dockerize web application
  .github/workflows/build_web.yml
  .github/workflows/ci_docker_build_push.yml
  .github/workflows/deploiy_aws.yml
  .github/workflows/deploy_web_nightly.yml
  web/.dockerignore
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
  web/docker/nginx.conf.template
  web/docker/reearth_config.json.template
  web/vite.config.ts
Labels: web

#1225 fix(web): add notification when error occurs during asset upload
  web/src/services/api/assetsApi.ts
Labels: web

#1223 fix(web): scene settings fov not applied
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Published/hooks.ts
Labels: web

#1227 feat(server): placeholder property schema field
  server/Makefile
  server/e2e/gql_project_import_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/seeder.go
  server/gql/property.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_property_schema.go
  server/internal/infrastructure/mongo/mongodoc/property_schema.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  server/pkg/plugin/manifest/convert.go
  server/pkg/plugin/manifest/schema_gen.go
  server/pkg/plugin/manifest/schema_translation.go
  server/pkg/plugin/manifest/schema_translation_i18n.go
  server/pkg/property/schema_field.go
  server/pkg/property/schema_field_builder.go
  server/pkg/property/schema_field_builder_test.go
  server/schemas/plugin_manifest.json
  server/schemas/plugin_manifest_translation.json
Labels: server

#1212 refactor(web): add layer from resource
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CSV/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/GeoJSON/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1220 fix(web): time disappear on cancel timeline popup
  web/package.json
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/hooks/useTimelineBlock.ts
  web/src/beta/lib/reearth-ui/components/ClickAway/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/fields/TimePeriodField/EditPanel/hooks.ts
  web/src/beta/ui/fields/TimePeriodField/EditPanel/index.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel/hooks.ts
  web/src/beta/ui/fields/TimePointField/EditPanel/index.tsx
  web/src/beta/ui/fields/TimePointField/hooks.ts
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/utils/moment-timezone.ts
  web/src/beta/utils/time.ts
  web/src/services/theme/reearthTheme/common/index.ts
  web/yarn.lock
Labels: web

#1232 feat(web): add tooltip for experimental functions
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Flask.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/beta/ui/components/Tooltip/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/darkTheme/index.ts
  web/src/services/theme/reearthTheme/lightTheme/index.ts
  web/src/services/theme/reearthTheme/types.ts
Labels: web

#1235 feat(web): env vars to rewrite favicon and title on Docker
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
Labels: web

#1230 feat(web): add new logo to screens
  web/src/app.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/LogoWrapper.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/NotFound/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/Published/NotFound.tsx
  web/src/beta/features/RootPage/PageWrapper.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LogoWithText.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/logo.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/Loading/index.tsx
  web/src/beta/pages/Page.tsx
  web/src/beta/pages/RootPage/index.tsx
  web/src/beta/ui/assets/defaultBetaProjectImage.png
  web/src/beta/ui/assets/defaultProjectBackgroundImage.png
  web/src/favicon.ico
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/colors.ts
Labels: web

#1238 fix(web): publish scene and story could use the same alias by mistake
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/type.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/hooks.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishOrUpdateSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishedOrUpdatedSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/UnpublishModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/common.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/Editor/Publish/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/services/api/projectApi.ts
  web/src/services/api/publishTypes.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/toGqlStatus.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1216 feat(web): plugin playground/upload file and download plugin
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/PluginInspector/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/FileListItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/utils.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1243 feat(web): support property placeholder on infobox blocks
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Visualizer/processNewProperty.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/hooks.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/property.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1241 refactor(web): improve load projects on dashboard page
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/type.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/types.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Labels: web

#1240 refactor(web): improve default project image
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/ui/assets/defaultProjectBackgroundImage.png
  web/src/beta/ui/assets/defaultProjectBackgroundImage.webp
Labels: web

#1242 fix(web): zoom to layer could go underground on first trigger
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
Labels: web

#1233 fix(web): timeline block speed
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CZML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/utils.ts
  web/src/beta/features/Visualizer/shared/hooks/useTimelineBlock.ts
  web/vite.config.ts
Labels: web

#1237 fix(web): Check UI and fix language issue
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/AssetsManager/AssetsSelector.tsx
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/CreateWorkspaceModal/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectRemoveModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/LayerStyle/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/LayerStyleItem.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Editor/Story/PagesPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/hooks.ts
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/DeleteWorkspaceModal.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/CameraField/CapturePanel.tsx
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/ListField/ListItem.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/TimePeriodField/EditPanel/index.tsx
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/EditPanel/index.tsx
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1249 feat(web): add missing `multiTenant` property in Re:Earth config
  web/Dockerfile
  web/docker/reearth_config.json.template
Labels: web

#1247 refactor(web): use lang at api hooks
  web/src/beta/features/Editor/hooks/useScene.ts
  web/src/services/api/infoboxApi/blocks.ts
  web/src/services/api/layerStyleApi/index.ts
  web/src/services/api/layersApi/index.ts
  web/src/services/api/sceneApi.ts
  web/src/services/api/storytellingApi/blocks.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/api/widgetsApi/index.ts
Labels: web

#1239 feat(server): export/import project bug fix
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/builder/scene_test.go
Labels: server

#1250 fix(web): several UI fix
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/AssetsManager/constants.ts
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StylePanel.tsx
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/Item.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/Player.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/hook.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Timeline/index.tsx
  web/src/beta/features/Visualizer/shared/components/SelectableArea/ActionPanel/hooks.ts
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1231 feat(server): query filter of core support
  server/e2e/gql_project_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Labels: server

#1251 fix: camera returning to initial camera position after scene settings change
  web/src/beta/features/Editor/Visualizer/hooks.ts
Labels: web

#1252 fix(web): number input been interrupted during the input on layer style editor
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
Labels: web

#1255 chore(server): revert query filter of core support
  server/e2e/gql_project_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
Labels: server

#1254 refactor(web): clean up utils
  web/.storybook/preview.tsx
  web/src/beta/features/AccountSetting/PasswordModal/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Story/PagesPanel/PageItem.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Title/index.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/MenuButton.tsx
  web/src/beta/features/Visualizer/shared/components/BlockWrapper/hooks.ts
  web/src/beta/hooks/useDoubleClick.ts
  web/src/beta/hooks/useManageSwitchState/hooks.test.tsx
  web/src/beta/hooks/useManageSwitchState/hooks.tsx
  web/src/beta/pages/PublishedPage/index.tsx
  web/src/beta/ui/widgetui/Flex/index.stories.tsx
  web/src/beta/ui/widgetui/Flex/index.tsx
  web/src/beta/utils/aria.ts
  web/src/beta/utils/deepFind.test.ts
  web/src/beta/utils/deepFind.ts
  web/src/beta/utils/localstorage.ts
  web/src/beta/utils/metrics.ts
  web/src/beta/utils/raf.test.ts
  web/src/beta/utils/raf.ts
  web/src/beta/utils/string.ts
  web/src/beta/utils/use-buffered.ts
  web/src/beta/utils/use-dnd/drag.ts
  web/src/beta/utils/use-dnd/drop.ts
  web/src/beta/utils/use-dnd/index.tsx
  web/src/beta/utils/use-dnd/types.ts
  web/src/beta/utils/util.test.ts
  web/src/beta/utils/util.ts
  web/src/publishedapp.tsx
Labels: web

#1248 fix(web): sketch layer custom property in infobox
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/Content.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
Labels: web

#1259 fix(web): popup menu has an unexpected horizontal scroll bar
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/Action.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/services/api/widgetsApi/utils.ts
Labels: web

#1261 refactor(web): improve recycle bin default image
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
Labels: web

#1260 fix(web): terrain not applied properly on editor
  web/src/beta/features/Editor/Visualizer/hooks.ts
Labels: web

#1262 fix(web): 3d tiles' style cannot be reset
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
Labels: web

#1258 chore(web): support enter key to submit
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
Labels: web

#1224 feat(web): plugin playground/reflect code editor to viewer
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/hook.ts
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1267 fix(web): layer style editor condition item can't resize properly with a selector
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
Labels: web

#1236 feat(web): plugin playground/enable edit html with modal
  web/src/beta/features/PluginPlayground/Code/HtmlEditModal.tsx
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Code/utils.ts
Labels: web

#1268 refactor(web): clean up console.log on data attribution widget
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/UI/hooks.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/DataAttribution/index.tsx
Labels: web

#1270 refactor(server): update camera description
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Labels: server

#1246 feat(server): Add coreSupport to Asset
  server/e2e/gql_asset_test.go
  server/e2e/test.csv
  server/e2e/test.png
  server/gql/asset.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
Labels: server

#1265 feat(server): query filter coresupport
  docker-compose.yml
  server/e2e/gql_project_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/loader_user.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
Labels: server, web

#1269 refactor(web): fix typo on screen when no asset appears and in settings dropdown
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1273 fix(web): assets query not updated for coreSupport
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/api/assetsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/asset.ts
Labels: web

#1276 fix(server): fix filter bug
  server/e2e/gql_asset_test.go
  server/internal/infrastructure/mongo/asset.go
Labels: server

#1281 chore(web): update core version
  web/package.json
  web/yarn.lock
Labels: web

#1277 refactor(web): update translation
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1284 refactor(web): remove unnecessary notification on user search
  web/src/services/api/meApi.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1283 feat(server): add data attribute as default plugin when project gets created
  server/e2e/gql_storytelling_test.go
  server/internal/usecase/interactor/scene.go
Labels: server

#1285 feat(server): enable original key filter
  server/go.mod
  server/go.sum
  server/internal/infrastructure/mongo/project.go
Labels: server

#1286 refactor(web): clean up deprecated plugin api v1
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useDeprecated.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/pluginAPIv1Types.ts
Labels: web

#1289 fix(server): pagination keyword fix
  server/e2e/common.go
  server/e2e/gql_project_test.go
  server/go.mod
  server/go.sum
Labels: server

#1263 feat(web): plugin playground / display console
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Console/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1282 fix(web): plugin playground/ Modify the behavior of the HTML Editor modal
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Code/utils.ts
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
Labels: web

#1290 fix(web): correct placeholder text for project search
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1291 refactor(web): update page title as Re:Earth Visualizer
  web/index.html
  web/published.html
Labels: web

#1295 fix(web): style code condition values need to be wrapped
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.test.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/convert.ts
Labels: web

#1293 fix(server): coresupport query missmatch
  server/e2e/gql_project_test.go
  server/internal/infrastructure/mongo/project.go
Labels: server

#1296 chore(web): update core version to 0.0.7-alpha.21
  web/package.json
  web/yarn.lock
Labels: web

#1287 chore(web): update package version to 1.0.0-beta.1.0
  web/package.json
Labels: web
