Repository reearth/reearth-visualizer, pull requests merged in 2024-03, with the labels that each got.

#906 chore(web): add colon as reserved word in style evaluator
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.test.ts
Labels: web

#908 Revert "chore(web): add colon as reserved word in style evaluator"
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.test.ts
Labels: web

#900 feat(server): Create List as a generic pkg
  go.work.sum
  server/e2e/common.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_user.go
  server/internal/app/repo.go
  server/internal/infrastructure/memory/policy.go
  server/pkg/dataset/schema_list.go
  server/pkg/dataset/schema_list_test.go
  server/pkg/id/property_schema_list.go
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/property/group_list.go
  server/pkg/property/schema_list.go
  server/pkg/property/schema_list_test.go
  server/pkg/scene/cluster_list.go
  server/pkg/scene/cluster_list_test.go
  server/pkg/storytelling/page_list.go
  server/pkg/tag/list.go
  server/pkg/tag/list_test.go
Labels: server

#910 chore(web): add colon as reserved word in style evaluator
  web/src/beta/lib/core/mantle/evaluator/simple/expression/runtime.ts
  web/src/beta/lib/core/mantle/evaluator/simple/expression/variableReplacer.ts
  web/src/beta/lib/core/mantle/evaluator/simple/index.test.ts
Labels: web

#914 chore(web): fix the zoomlevel for url
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/core/Imagery.tsx
  web/src/beta/lib/core/engines/Cesium/core/presets.ts
Labels: web

#885 feat(server): support multiple tenants
  .github/workflows/build_server.yml
  .github/workflows/ci_server.yml
  go.work
  go.work.sum
  server/Dockerfile
  server/e2e/common.go
  server/go.mod
  server/go.sum
  server/internal/app/auth_client.go
  server/internal/app/config/config.go
  server/internal/app/repo.go
  server/internal/usecase/interactor/common.go
Labels: server

#912 chore(web): Hide indicator for resource
  web/src/beta/lib/core/engines/Cesium/Feature/Resource/index.tsx
  web/src/beta/lib/core/mantle/types/appearance.ts
Labels: web

#915 chore(server): add infobox support for beta
  server/e2e/gql_nlslayer_test.go
  server/gql/newlayer.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/adapter/gql/resolver_nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/id/id.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/infobox.go
  server/pkg/nlslayer/infobox_block.go
  server/pkg/nlslayer/infobox_block_builder.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
Labels: server

#916 chore(web): update graphql on frontend
  web/src/beta/features/Editor/Visualizer/convert.ts
  web/src/beta/features/Editor/tabs/map/LeftPanel/Layers/index.stories.tsx
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/api/layersApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/layer.ts
Labels: web

#918 chore(server): seperate beta infobox blocks
  server/pkg/builtin/manifest.yml
Labels: server

#911 feat(server): support style and layer duplication
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_style_test.go
  server/gql/newlayer.graphql
  server/gql/style.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/adapter/gql/resolver_mutation_style.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/style.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/scene/style.go
  server/pkg/scene/style_test.go
Labels: server

#921 chore(web): support draw clipping for 3dtiles
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Map/Sketch/hooks.ts
  web/src/beta/lib/core/Map/Sketch/index.tsx
  web/src/beta/lib/core/Map/ref.ts
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/DrawClippingPolygon/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/hooks.ts
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Tileset/useDrawClipping.ts
  web/src/beta/lib/core/engines/Cesium/Sketch/ExtrudedPolygonEntity.tsx
  web/src/beta/lib/core/engines/Cesium/Sketch/index.tsx
  web/src/beta/lib/core/mantle/types/value.ts
Labels: web

#926 chore(server): add googleanalytics in cesium-beta manifest field
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Labels: server

#927 chore(server): support GA with projects
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  server/pkg/project/builder.go
  server/pkg/project/project.go
Labels: server

#909 chore(web): mvt provider refactor
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/yarn.lock
Labels: web

#923 fix(web): refactor routes
  web/src/services/routing/index.tsx
Labels: web

#930 Revert "chore(web): mvt provider refactor"
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/yarn.lock
Labels: web

#929 feat(web,server): support multi-tenant login
  .vscode/settings.json
  server/go.mod
  server/go.sum
  server/gql/user.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/config/auth.go
  server/internal/app/config/auth_server.go
  server/internal/app/config/config.go
  server/internal/app/config/file.go
  server/internal/app/config/marketplace.go
  server/internal/app/config/policy.go
  server/internal/app/config/published.go
  server/internal/app/config/web.go
  server/internal/infrastructure/mongo/scene.go
  web/src/classic/components/molecules/Dashboard/QuickStart.tsx
  web/src/classic/components/molecules/Settings/WorkspaceList/WorkspaceCell/index.tsx
  web/src/classic/components/molecules/Settings/WorkspaceList/WorkspaceList/index.tsx
  web/src/classic/components/organisms/Authentication/RootPage/hooks.ts
  web/src/classic/components/organisms/Dashboard/hooks.ts
  web/src/classic/components/organisms/Dashboard/index.tsx
  web/src/classic/components/organisms/Settings/Workspace/hooks.ts
  web/src/classic/components/pages/Authentication/hooks.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/auth/auth0Auth.ts
  web/src/services/auth/authProvider.tsx
  web/src/services/auth/cognitoAuth.ts
  web/src/services/auth/useAuth.ts
  web/src/services/config/authInfo.ts
  web/src/services/config/aws.ts
  web/src/services/config/index.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/routing/index.tsx
Labels: server, web

#928 fix(web): mvt with worker
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/yarn.lock
Labels: web

#932 chore(web): add layer select with drag event
  web/src/beta/lib/core/Crust/Plugins/hooks.ts
  web/src/beta/lib/core/Crust/Plugins/plugin_types.ts
  web/src/beta/lib/core/Crust/Plugins/types.ts
  web/src/beta/lib/core/Crust/index.tsx
  web/src/beta/lib/core/Map/types/index.ts
  web/src/beta/lib/core/Visualizer/hooks.ts
  web/src/beta/lib/core/Visualizer/index.tsx
  web/src/beta/lib/core/engines/Cesium/hooks.ts
  web/src/beta/lib/core/engines/Cesium/hooks/useLayerSelectWithRect.ts
  web/src/beta/lib/core/engines/Cesium/index.tsx
  web/src/beta/lib/core/engines/Cesium/utils/mouse.ts
Labels: web

#925 chore(web, server): support google analytics for beta
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/PublishedVisualizer/googleAnalytics/useGA.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#933 chore(web, server): fix ga on published page
  server/e2e/gql_storytelling_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/project/builder.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/scene.go
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#931 chore(server): beta infobox & fixing array type when contents are objects
  server/e2e/gql_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Labels: server

#913 chore(server): support featureCollection in NLSLayer sketch
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/gql/featureCollection.graphql
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_featureCollection.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer_test.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/layer.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/id/id.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_collection.go
  server/pkg/nlslayer/feature_collection_test.go
  server/pkg/nlslayer/feature_test.go
  server/pkg/nlslayer/geometry.go
  server/pkg/nlslayer/geometry_test.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/nlslayer/sketch_info.go
  server/pkg/nlslayer/sketch_info_test.go
Labels: server

#922 chore(web): fix caching issue where viz state is remembered
  web/src/beta/pages/EditorPage/index.tsx
Labels: web

#935 chore(server): add schema to nlslayer simple input
  server/e2e/gql_nlslayer_test.go
  server/gql/featureCollection.graphql
  server/gql/newlayer.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interfaces/nlslayer.go
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#936 chore(server, web): support infoboxBlock extension type
  server/gql/plugin.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_plugin.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/usecase/interactor/nlslayer.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/plugin/extension.go
  server/pkg/plugin/manifest/convert.go
  web/src/classic/gql/graphql-client-api.tsx
  web/src/classic/gql/graphql.schema.json
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#938 fix(web): selection without groundPrimitives
  web/src/beta/lib/core/engines/Cesium/Feature/HeatMap/HeatmapMesh.tsx
  web/src/beta/lib/core/engines/Cesium/pickMany.ts
Labels: web

#941 chore(web): fix propertylist block not updating on feature change
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/PropertyList/Content.tsx
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/PropertyList/CustomFields/index.tsx
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/PropertyList/DefaultFields/index.tsx
Labels: web

#940 fix(server): support infobox on beta project publishing
  server/pkg/nlslayer/infobox.go
  server/pkg/scene/builder/nlsLayer.go
  web/src/beta/features/PublishedVisualizer/convert-new-property.ts
  web/src/beta/features/PublishedVisualizer/convert-story.ts
  web/src/beta/features/PublishedVisualizer/hooks.ts
  web/src/beta/features/PublishedVisualizer/types.ts
Labels: server, web

#942 chore(web): update cesium-mvt-provider for beta
  web/.storybook/main.ts
  web/package.json
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/index.tsx
  web/src/beta/lib/core/engines/Cesium/Feature/Raster/mvt.ts
  web/src/beta/lib/core/mantle/types/appearance.ts
  web/yarn.lock
Labels: web

#943 chore(web): fix infobox blocks using old value when new value is undefined
  web/src/beta/lib/core/Crust/Infobox/Block/builtin/useExpressionEval.ts
  web/src/beta/lib/core/Crust/Infobox/hooks.ts
Labels: web

#944 chore(web): fix beta editor dnd
  web/src/beta/components/DragAndDropList/Item.tsx
  web/src/beta/lib/core/shared/components/SelectableArea/ActionPanel/hooks.ts
  web/src/beta/lib/core/shared/components/SelectableArea/ActionPanel/index.tsx
  web/src/beta/lib/core/shared/components/SelectableArea/index.tsx
Labels: web

#945 chore(server): sketch layer in publishing
  server/pkg/scene/builder/nlsLayer.go
Labels: server

#907 fix(web): load cesium token from separate file
  .github/workflows/cron_ion_token_test.yml
  .github/workflows/deploy_web_nightly.yml
  web/cesium_ion_token.txt
  web/src/services/config/index.ts
Labels: web

#948 Revert "fix(web): load cesium token from separate file"
  .github/workflows/cron_ion_token_test.yml
  .github/workflows/deploy_web_nightly.yml
  web/cesium_ion_token.txt
  web/src/services/config/index.ts
Labels: web
