Repository reearth/reearth-visualizer, pull requests merged in 2024-09, with the labels that each got.

#1094 feat(server): Add new policy enforcement for visualizer
  server/Makefile
  server/gql/workspace.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/memory/nlslayer.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/config.go
  server/internal/infrastructure/mongo/mongodoc/policy.go
  server/internal/infrastructure/mongo/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/nlslayer.go
  server/pkg/config/config.go
  server/pkg/policy/policy.go
  server/pkg/policy/policy_test.go
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#1123 chore(web): update package.json version
  web/package.json
Labels: web

#1124 chore(web): upgrade dependencies
  web/package.json
  web/src/beta/components/Flex/index.stories.tsx
  web/src/beta/components/FloatedPanel/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/Plugin/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Button/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Navigator/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/services/gql/provider/index.tsx
  web/yarn.lock
Labels: web

#1130 feat(web): support custom domain function
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/storytellingApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1126 fix(web): custom sketch property name
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/type.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/index.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1129 fix(web): publish status
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/storytellingApi/utils.ts
Labels: web

#1131 chore(web): Update version to 1.0.0-alpha.4
  web/package.json
Labels: web

#1132 chore(web): downgrade quickjs-emscripten to v0.24.0
  web/package.json
  web/yarn.lock
Labels: web

#1133 feat(web): add textarea field in property field
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
Labels: web

#1134 feat(web): support infobox for plugin layer
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useLayers.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
Labels: web

#1136 refactor(web): correct naming
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/CSV/index.tsx
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/Common/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/LayerStyle/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishModal/index.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PublicRepo/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/CameraField/CapturePanel.tsx
  web/src/beta/ui/fields/CameraField/EditorPanel.tsx
  web/src/beta/ui/fields/CameraField/hooks.ts
  web/src/beta/ui/fields/CameraField/index.tsx
  web/src/beta/ui/fields/CheckboxField.tsx
  web/src/beta/ui/fields/CodeField.tsx
  web/src/beta/ui/fields/ColorField.tsx
  web/src/beta/ui/fields/CommonField.tsx
  web/src/beta/ui/fields/InputField.tsx
  web/src/beta/ui/fields/ListField/index.stories.tsx
  web/src/beta/ui/fields/ListField/index.tsx
  web/src/beta/ui/fields/NumberField.tsx
  web/src/beta/ui/fields/Properties/ProprtyField.tsx
  web/src/beta/ui/fields/Properties/index.tsx
  web/src/beta/ui/fields/QuartetInputField.tsx
  web/src/beta/ui/fields/RangeField.tsx
  web/src/beta/ui/fields/SelectField.tsx
  web/src/beta/ui/fields/SpacingField.tsx
  web/src/beta/ui/fields/SwitchField.tsx
  web/src/beta/ui/fields/TextareaField.tsx
  web/src/beta/ui/fields/TimePeriodField/EditModal.tsx
  web/src/beta/ui/fields/TimePeriodField/index.tsx
  web/src/beta/ui/fields/TimePointField/index.tsx
  web/src/beta/ui/fields/TripletInputField.tsx
  web/src/beta/ui/fields/TwinInputField.tsx
  web/src/beta/ui/fields/index.stories.tsx
  web/src/beta/ui/fields/index.ts
Labels: web

#1137 fix(web): assets load more not working properly sometimes
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/utils/time.ts
Labels: web

#1138 feat(web): Implement the basic panel structure
  web/src/app.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/InfoboxSettings/hooks.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/CodeTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/InterfaceTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/NoStyleMessage.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/LayerStyleEditor.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/beta/features/Editor/Map/ToolsPanel/index.tsx
  web/src/beta/features/Editor/Map/shared/SharedComponent.tsx
  web/src/beta/features/Editor/Map/shared/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Story/PageSettingsPanel/hooks.ts
  web/src/beta/features/Editor/Widgets/WASToolsPanel/Devices/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetInspectorPanel/index.tsx
  web/src/beta/features/Editor/index.tsx
  web/src/beta/features/Navbar/useRightSection.tsx
  web/src/beta/features/Notification/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginInstallCardButton.tsx
  web/src/beta/features/RootPage/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/Markdown/index.tsx
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/DefaultFields/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/Template.tsx
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/builtin/Timeline/UI/ScaleList.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.stories.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/pages/AccountSettingsPage/index.tsx
  web/src/beta/pages/GraphQLPlayground/index.tsx
  web/src/beta/ui/fields/TimePeriodField/hooks.ts
  web/src/services/api/meApi.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1139 fix(web): tabs order
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/index.tsx
  web/src/beta/pages/AccountSettingsPage/index.tsx
Labels: web

#1142 refactor(server): delete useless server stamen definition
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
Labels: server

#1140 test(web): add e2e test example to visualizer
  web/.env.example
  web/.gitignore
  web/e2e/README.md
  web/e2e/auth.setup.ts
  web/e2e/dashboard.spec.ts
  web/e2e/editorMapAddLayer.spec.ts
  web/e2e/pom/index.ts
  web/e2e/pom/visualizer/dashboard/ProjectsPage.ts
  web/e2e/pom/visualizer/dashboard/index.ts
  web/e2e/pom/visualizer/editor/MapPage.ts
  web/e2e/pom/visualizer/editor/index.ts
  web/e2e/pom/visualizer/index.ts
  web/e2e/pom/visualizer/projectSetting/generalPage.ts
  web/e2e/pom/visualizer/projectSetting/index.ts
  web/e2e/utils/config.ts
  web/e2e/utils/index.ts
  web/e2e/utils/login.ts
  web/e2e/utils/setup.ts
  web/playwright.config.ts
Labels: web

#1145 feat(web): update @reearth/core
  web/package.json
  web/yarn.lock
Labels: web

#1141 feat(server): Import or Export Project Functionality
  server/Makefile
  server/e2e/gql_import_export_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert.go
  server/internal/adapter/gql/gqlmodel/convert_plugin.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/plugin_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/interfaces/style.go
  server/pkg/property/sealed.go
  server/pkg/property/sealed_test.go
  server/pkg/property/value.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/scene.go
  server/pkg/scene/widget.go
Labels: server

#1147 fix(web): page time not updated when switch story page
  web/src/beta/features/Visualizer/Crust/StoryPanel/hooks.ts
Labels: web

#1149 fix(web): plugin iframe has an incorrect size
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/hooks.ts
Labels: web

#1152 refactor(web): add key to infobox
  web/src/beta/features/Visualizer/Crust/index.tsx
Labels: web

#1150 fix(web): Update button on publish modal is always disabled on first time
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
Labels: web

#1151 feat(server): Import or Export Project Functionality (File resource)
  server/e2e/gql_import_export_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/app/file.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/s3/s3.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/file/zip.go
  server/pkg/scene/builder/decoder.go
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#1158 refactor(web): allow popups on plugin iframe
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
Labels: web

#1156 feat(web): preset layer style
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/presetLayerStyles.ts
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web
