Repository reearth/reearth-visualizer, pull requests merged in 2025-05, with the labels that each got.

#1580 feat(server): update alias validation[VIZ-1535] [VIZ-1558]
  server/Makefile
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_property_schema_test.go
  server/e2e/gql_publish_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/gql_validate_geojson_test.go
  server/gql/project.graphql
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/storytelling.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/storytelling.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/repo/project.go
  server/internal/usecase/repo/storytelling.go
  server/pkg/alias/check.go
  server/pkg/i18n/locales/entitymsg/en.json
  server/pkg/i18n/locales/entitymsg/ja.json
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/entitymsg/entitymsg_generated.go
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_errkey_test.go
  server/pkg/project/project_test.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
  server/pkg/storytelling/story_test.go
Labels: server

#1586 fix(web): fix TS error in vite.config.ts file [VIZ-1559]
  web/vite.config.ts
  web/vitest.config.ts
Labels: web

#1589 test(web): add tests for hooks [VIZ-1559]
  web/src/beta/hooks/navigationHooks.test.ts
  web/src/beta/hooks/useAccountSettingsTabs.test.ts
  web/src/beta/hooks/useAccountSettingsTabs.ts
  web/src/beta/hooks/useDoubleClick.test.ts
Labels: web

#1587 feat(server): update alias check [VIZ-1541]
  server/e2e/gql_publish_test.go
  server/gql/project.graphql
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/storyloader_gen.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/loader_story.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/story.go
Labels: server

#1558 refactor(web): publish project page ui/ux [VIZ-1439]
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishOrUpdateSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/PublishedOrUpdatedSection.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/common.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/gql/queries/storytelling.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1591 fix(web): skip project mutation update when no change [VIZ-1523]
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Camera/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Link/Editor/index.tsx
  web/src/beta/features/Visualizer/shared/hooks/useFieldComponent.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/ColorField/index.tsx
  web/src/beta/ui/fields/InputField/index.tsx
  web/src/beta/ui/fields/NumberField/index.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/beta/ui/fields/TextareaField/index.tsx
Labels: web

#1595 fix(web): remove unnecessary project properties from update calls in project general settings
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
Labels: web

#1590 feat(server): migrate project/story alias [VIZ-1478]
  server/e2e/gql_publish_test.go
  server/internal/infrastructure/memory/scene.go
  server/internal/infrastructure/mongo/migration/250507125156_update_alias.go
  server/internal/infrastructure/mongo/migration/250507125156_update_alias_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/scene.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/repo/scene.go
  server/pkg/alias/check.go
  server/pkg/i18n/locales/errmsg/en.json
  server/pkg/i18n/locales/errmsg/ja.json
  server/pkg/i18n/message/errmsg/errmsg_generated.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
Labels: server

#1592 test(web): add unit tests for hooks [VIZ-1577]
  web/src/beta/hooks/index.test.ts
  web/src/beta/hooks/useLoadMore.test.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/beta/ui/components/ManagerBase/index.test.tsx
  web/src/beta/ui/fields/Properties/index.test.tsx
  web/src/test/utils.tsx
Labels: web

#1596 refactor(web): update alias prefix in public settings for consistency
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
Labels: web

#1599 refactor(web): use scene.id when reset alias of published map [VIZ-1601]
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Labels: web

#1598 fix(server): use scene.id when id is checked in project.Publish
  server/e2e/gql_publish_test.go
  server/internal/testutil/factory/scene.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/project/builder.go
  server/pkg/scene/scene.go
Labels: server

#1600 chore(web): update package version to 1.0.0-beta.6.0
  web/package.json
Labels: web

#1603 fix(web): disable cache on valid alias queries & fix ui around alias
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/services/api/projectApi/index.ts
  web/src/services/api/storytellingApi/index.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1602 fix(server): fix alias duplicate check
  server/e2e/gql_publish_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
Labels: server

#1605 test(web): project tests fix
  .github/workflows/playwright_ui_tests.yml
  web/e2e/playwright-tests/pages/projectsPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/login.spec.ts
  web/e2e/playwright-tests/tests/projects.spec.ts
Labels: test, web

#1527 chore(server): delete junk data [VIZ-1396]
  server/internal/infrastructure/mongo/migration/250514185337_delete_junk_data.go
  server/internal/infrastructure/mongo/migration/250514185337_delete_junk_data_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Labels: server

#1606 refactor(web): remove asset page from dashboard
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1609 test(web): added data-testids and fix the failed tests
  web/e2e/playwright-tests/README.md.
  web/e2e/playwright-tests/pages/dashBoardPage.ts
  web/e2e/playwright-tests/pages/projectsPage.ts
  web/e2e/playwright-tests/tests/login.spec.ts
  web/e2e/playwright-tests/tests/projects.spec.ts
  web/e2e/pom/visualizer/editor/MapPage.ts
  web/src/beta/features/CreateWorkspaceModal/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectGridViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/ProjectListViewItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/StarredProject.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.test.tsx
  web/src/beta/hooks/useWorkspaceManagementMenu.ts
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
Labels: web

#1607 chore(server): publishment refactoring
  server/gql/project.graphql
  server/gql/storytelling.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_storytelling.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/adapter/http/published.go
  server/internal/app/public.go
  server/internal/app/public_test.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/published.go
  server/internal/usecase/interactor/published_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/published.go
  server/internal/usecase/interfaces/story.go
  server/pkg/project/project.go
  server/pkg/storytelling/story.go
  server/pkg/storytelling/story_bulider.go
Labels: server

#1612 refactor(web): improve buttons for alias setting [VIZ-1653]
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/EditPanel.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/AliasSettings/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1608 feat(web): add infobox example in playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/addInfoboxAllProperties.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/addInfoboxRichBlocks.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/addInfoboxSpecificProperties.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1547 feat(web): update geojson example in playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-large-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-photogrammetric-3D-model.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1597 feat(web): update csv and 3d tiles example in playground
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-point-cloud.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/services/i18n/translations/ja.yml
Labels: web

#1574 feat(server): add visualizer internal api [VIZ-1517, VIZ-1604]
  server/.env.example
  server/Makefile
  server/e2e/common.go
  server/e2e/proto_project_test.go
  server/e2e/seeder.go
  server/go.mod
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_mutation_storytelling.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/internalapi/client.go
  server/internal/adapter/internalapi/internalapimodel/project.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/app.go
  server/internal/app/config/config.go
  server/internal/app/grpc.go
  server/internal/app/server.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/docs/schema.md
  server/schemas/internalapi/v1/schema.proto
Labels: server

#1615 feat(web): Initially hidden the two preset layers in playground
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1631 feat(web): support height for 3d model [VIZ-1597]
  web/package.json
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/appearanceNodes/model.ts
  web/yarn.lock
Labels: web

#1632 chore(web): clean up ref url
  web/vite.config.ts
Labels: web
