Repository reearth/reearth-visualizer, pull requests merged in 2025-04, with the labels that each got.

#1540 chore(server): add document about how to add error message
  server/internal/app/i18n/README
  server/internal/app/i18n/locales/errmsg/en.json
  server/internal/app/i18n/locales/errmsg/ja.json
  server/internal/app/i18n/message/errmsg/errmsg_generated.go
  server/internal/usecase/repo/container.go
Labels: server

#1541 chore(server): update README about how to add error message
  server/internal/app/i18n/README.md
Labels: server

#1526 fix(server): import url replace error
  server/internal/usecase/interactor/asset.go
Labels: server

#1542 chore(server): add file size check [VIZ-1425]
  server/internal/usecase/interactor/project.go
  server/pkg/file/zip.go
Labels: server

#1545 chore(server): fix graceful shutdown & fix filename typo [VIZ-1483]
  server/internal/app/server.go
Labels: server

#1551 chore(web): update test related packages and reduce test coverage scope temporarily [VIZ-1460]
  web/package.json
  web/vite.config.ts
  web/yarn.lock
Labels: web

#1549 fix(web): missing property on installed plugin [VIZ-1492]
  web/src/beta/features/ProjectSettings/innerPages/PluginSettings/PluginInstall/PluginList/PluginListItem.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/services/api/pluginsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/plugin.ts
Labels: web

#1543 chore(server): return appropriate error from project updateAlias
  server/go.mod
  server/go.sum
  server/internal/app/i18n/locales/errmsg/en.json
  server/internal/app/i18n/locales/errmsg/ja.json
  server/internal/app/i18n/message/errmsg/errmsg_generated.go
  server/internal/testutil/factory/project.go
  server/internal/testutil/factory/user.go
  server/internal/testutil/factory/workspace.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_errkey_test.go
  server/pkg/project/project_test.go
  server/pkg/verror/verror.go
Labels: server

#1556 feat(server): Insert project id to project alias value when project is created [VIZ-1475]
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  web/src/services/gql/__gen__/graphql.ts
Labels: server, web

#1559 chore(web): QA Automation Framework
  .github/workflows/dev-test-run.yml
  web/e2e/playwright-tests/.gitignore
  web/e2e/playwright-tests/README.md
  web/e2e/playwright-tests/env.example
  web/e2e/playwright-tests/package-lock.json
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/pages/dashBoardPage.ts
  web/e2e/playwright-tests/pages/loginPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/login.spec.ts
  web/e2e/playwright-tests/tsconfig.json
  web/e2e/playwright-tests/utils.ts
  web/eslint.config.mjs
  web/tsconfig.json
Labels: web

#1563 chore(qa-web): update dev-test-run.yml
  .github/workflows/dev-test-run.yml
  web/e2e/playwright-tests/tests/login.spec.ts
Labels: web

#1554 fix(web): auth session persistence after logout when using browser back button [VIZ-1486]
  web/src/services/auth/auth0Auth.ts
Labels: web

#1528 fix(server): revert sort logic [VIZ-1423]
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_property_schema_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_storytelling_test.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/resolver_mutation_property.go
  server/internal/infrastructure/mongo/migration/221028204300_move_terrain_properties_test.go
  server/pkg/builtin/main.go
  server/pkg/property/group.go
  server/pkg/property/property_test.go
  server/pkg/property/schema_group.go
Labels: server

#1544 feat(server): add windows batch [VIZ-1468]
  README.md
  server/Makefile
  server/dev.bat
Labels: server

#1552 test(web): add unit tests to utility functions [VIZ-1497]
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/util.ts
  web/src/beta/features/Editor/Publish/PublishToolsPanel/PublishOrUpdateModal/useAlias.ts
  web/src/beta/utils/camera.test.ts
  web/src/beta/utils/camera.ts
  web/src/beta/utils/convert-object.ts
  web/src/beta/utils/events.test.tsx
  web/src/beta/utils/file.test.ts
  web/src/beta/utils/file.ts
  web/src/beta/utils/image.test.ts
  web/src/beta/utils/layer-style.test.ts
  web/src/beta/utils/object.test.ts
  web/src/beta/utils/object.ts
  web/src/beta/utils/sketch.test.ts
  web/src/beta/utils/sketch.ts
  web/src/beta/utils/string.test.ts
  web/src/beta/utils/string.ts
  web/src/beta/utils/time.test.ts
  web/src/beta/utils/time.ts
  web/src/beta/utils/value.test.ts
  web/src/beta/utils/value.ts
Labels: web

#1571 test(web): add test screen recording
  .github/workflows/playwright_ui_tests.yml
  web/e2e/playwright-tests/.gitignore
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/tests/login.spec.ts
  web/eslint.config.mjs
Labels: web

#1575 feat(server): set project visibility [VIZ-1517]
  server/internal/infrastructure/mongo/migration/250417160823_set_project_visibility.go
  server/internal/infrastructure/mongo/migration/250417160823_set_project_visibility_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Labels: server

#1573 feat(server): Add Public Projects Support[VIZ-1481] [VIZ-1480]
  server/e2e/gql_asset_test.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_property_schema_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_style_test.go
  server/e2e/gql_validate_geojson_test.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
Labels: server

#1570 feat(web): support restful api for split import project [VIZ-1508]
  web/src/app.tsx
  web/src/beta/features/CursorStatus/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/services/api/projectApi/index.test.tsx
  web/src/services/api/projectApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/restful/index.tsx
  web/src/services/state/index.ts
Labels: web

#1577 test(web): add unit tests to components [VIZ-1465]
  web/src/beta/lib/reearth-ui/components/CodeInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.test.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.test.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.test.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Markdown/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.test.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/ModalPanel.test.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.test.tsx
  web/src/beta/ui/fields/SelectField/index.test.tsx
  web/src/test/utils.tsx
Labels: web

#1581 test(web): added tests for project screen
  web/e2e/playwright-tests/env.example
  web/e2e/playwright-tests/package-lock.json
  web/e2e/playwright-tests/package.json
  web/e2e/playwright-tests/pages/dashBoardPage.ts
  web/e2e/playwright-tests/pages/loginPage.ts
  web/e2e/playwright-tests/pages/projectsPage.ts
  web/e2e/playwright-tests/pages/recycleBinPage.ts
  web/e2e/playwright-tests/playwright.config.ts
  web/e2e/playwright-tests/tests/projects.spec.ts
Labels: web

#1576 refactor(web): improve ui components accessibility [VIZ-1522]
  web/src/beta/lib/reearth-ui/components/Breadcrumb/index.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/CheckBox/index.tsx
  web/src/beta/lib/reearth-ui/components/ClickAway/index.tsx
  web/src/beta/lib/reearth-ui/components/CodeInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/DatePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/DragAndDropList/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Loading/index.tsx
  web/src/beta/lib/reearth-ui/components/Modal/index.tsx
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/NumberInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Panel/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.tsx
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/lib/reearth-ui/components/Switcher/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
Labels: web

#1582 test(web): reduce unit test coverage and add unit tests to components [VIZ-1501]
  web/src/beta/ui/components/ConfirmModal/index.test.tsx
  web/src/beta/ui/components/EntryItem/index.test.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerHeader.tsx
  web/src/beta/ui/components/ManagerBase/index.test.tsx
  web/src/beta/ui/components/Sidebar/index.test.tsx
  web/src/beta/ui/fields/CameraField/index.test.tsx
  web/src/beta/ui/layout/Area/index.test.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/beta/ui/layout/Panel/index.test.tsx
  web/src/beta/ui/widgetui/Button/index.test.tsx
  web/src/beta/ui/widgetui/Text/index.test.tsx
Labels: web

#1579 test(web): add unit tests to components [VIZ-1465]
  web/src/beta/lib/reearth-ui/components/Panel/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.test.tsx
  web/src/beta/lib/reearth-ui/components/PopupMenu/index.test.tsx
  web/src/beta/lib/reearth-ui/components/PopupPanel/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Radio/index.test.tsx
  web/src/beta/lib/reearth-ui/components/RadioGroup/index.test.tsx
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Slide/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Slide/index.tsx
  web/src/beta/lib/reearth-ui/components/Slider/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Switcher/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.test.tsx
  web/src/beta/lib/reearth-ui/components/TextArea/index.test.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.test.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.test.tsx
  web/src/beta/lib/reearth-ui/components/TimePicker/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.test.tsx
  web/src/beta/lib/reearth-ui/components/Typography/index.test.tsx
Labels: web

#1585 chore(web): improve accessibility in feature's component
  web/src/beta/features/AccountSetting/index.tsx
  web/src/beta/features/CursorStatus/index.tsx
  web/src/beta/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/beta/features/Dashboard/LeftSidePanel/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/LayersPanel/index.tsx
  web/src/beta/features/Editor/Map/ScenePanel/index.tsx
  web/src/beta/features/Editor/Map/ToolsPanel/index.tsx
  web/src/beta/features/Editor/Map/index.tsx
  web/src/beta/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/beta/features/Editor/Story/PageSettingsPanel/index.tsx
  web/src/beta/features/Editor/Story/PagesPanel/index.tsx
  web/src/beta/features/Editor/Widgets/ContainerSettingsPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetInspectorPanel/index.tsx
  web/src/beta/features/Editor/Widgets/WidgetManagerPanel/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/components/Sidebar/index.tsx
  web/src/beta/ui/layout/Area/index.tsx
  web/src/beta/ui/layout/Panel/index.tsx
Labels: web

#1584 refactor(web): improve error handling [VIZ-1485]
  web/src/services/gql/index.ts
  web/src/services/gql/provider/links/errorLink.ts
Labels: web

#1588 fix(web): input's action key missing
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/index.tsx
Labels: web
