Repository reearth/reearth-visualizer, pull requests merged in 2025-02, with the labels that each got.

#1392 fix(server): enable CoreSupport
  server/internal/usecase/interactor/asset.go
  server/pkg/nlslayer/feature.go
Labels: server

#1394 feat(web): add 3d tiles and 3d model style example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/featureStyle3dmodel.ts
Labels: web

#1395 ci: authenticate GCP using Workload Identity instead of SA-key
  .github/workflows/deploy_server_nightly.yml
  .github/workflows/deploy_web_nightly.yml
Labels: enhancement

#1400 chore(web): update package version to 1.0.0-beta.3.0
  web/package.json
Labels: web

#1378 feat(web): plugin playground presets - create layer styling examples
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
Labels: web

#1397 feat(web): add style example in plugin playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/styleWithCondition.ts
Labels: web

#1401 feat(web): update reearth/core
  web/package.json
  web/yarn.lock
Labels: web

#1402 fix(web): missing one example on plugin playground
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Labels: web

#1403 chore(web): update package version to 1.0.0-beta.3.1
  web/package.json
Labels: web

#1405 refactor(web): format code
  web/postcss.config.js
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/CustomFields/useEvaluateProperties.ts
  web/src/beta/features/Visualizer/Crust/Infobox/Block/builtin/PropertyList/ListEditor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/ui/fields/CameraField/hooks.ts
Labels: web

#1407 feat(web): update @reearth/core
  web/package.json
  web/yarn.lock
Labels: web

#1408 chore(web): update package version to 1.0.0-beta.3.2
  web/package.json
Labels: web

#1406 fix(web): plugin playground presets - add an hidden overflow to plugin titles
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/beta/lib/reearth-ui/components/Typography/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerHeader.tsx
Labels: web

#1393 chore(server): refactoring e2e test code
  server/e2e/common.go
  server/e2e/dataset_export_test.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_featureCollection_test.go
  server/e2e/gql_me_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_style_test.go
  server/e2e/mock_test.go
Labels: server

#1411 feat(web): add rotate camera example
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Labels: web

#1412 feat(web): plugin playground presets - camera position
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Labels: web

#1413 feat(web): add zoom in out example
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Labels: web

#1381 feat(web): add layer override api example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
Labels: web

#1415 refactor(web): plugin playground presets - camera position
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
Labels: web

#1416 feat(server): projct export import update
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_user_test.go
  server/e2e/seeder.go
  server/e2e/test.zip
  server/internal/adapter/gql/gqlmodel/convert_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/asset.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Labels: server

#1383 feat(web): add extension settings panel to plugin playground
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Code/utils.ts
  web/src/beta/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/beta/features/PluginPlayground/ExtensionSettings/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/extension/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
  web/src/beta/features/PluginPlayground/types.ts
  web/src/beta/features/PluginPlayground/utils.ts
Labels: web

#1417 feat(web): add time series czml example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
Labels: web

#1419 refactor(web): support edit mode on sketch custom property value editor & style editor
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/CustomPropertField.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleCode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ConditionsTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ExpressionTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/BooleanSelectorInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/TypographyInput.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/Field/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/ValueTab.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StyleNode/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/StylePanel.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/hooks.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/index.tsx
  web/src/beta/lib/reearth-ui/components/ColorInput/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1421 feat(web): plugin playground presets - create timeline playback control
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
Labels: web

#1420 refactor(web): support import plugin with zip file instead of single js file in plugin playground
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1432 chore(server): removed unnecessary initializer
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/style.go
  server/pkg/nlslayer/nlslayerops/intializer.go
  server/pkg/scene/sceneops/style_initializer.go
Labels: server

#1422 refactor(web): update type on plugin api spatial id
  web/package.json
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/spatialId.ts
  web/yarn.lock
Labels: web

#1414 refactor(web): sketch layer and the custom properties
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldItem.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/LayersPanel/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/General/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/CustomPropertyItem.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/type.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/hooks.ts
  web/src/beta/features/Editor/Map/SketchLayerEditor/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/beta/features/Editor/hooks/useUI.ts
  web/src/beta/features/Editor/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Float.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/LinkSimpleHorizontal.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/NumberNine.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/ToggleLeft.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/ModalPanel/index.tsx
  web/src/beta/ui/components/ConfirmModal/index.tsx
  web/src/services/api/layersApi/index.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/layer.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1433 chore(web): update package version to 1.0.0-beta.3.3
  web/package.json
Labels: web

#1434 chore(web): update core version
  web/package.json
  web/yarn.lock
Labels: web

#1436 feat(web): add example enable shadow style and terrain
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableTerrain.ts
Labels: web

#1435 feat(web): plugin playground presets - create data storage plugin example
  web/src/beta/features/PluginPlayground/Code/hook.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/dataStorage/themeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
Labels: web

#1440 feat(web): add viewer and scene settings example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/takeScreenshot.ts
Labels: web

#1430 chore(server): refactoring id Layer and NLSLayer
  server/internal/usecase/interactor/plugin_upload_test.go
  server/internal/usecase/interactor/scene_plugin_test.go
  server/pkg/layer/builder.go
  server/pkg/layer/decoding/decoder.go
  server/pkg/layer/encoding/exporter.go
  server/pkg/layer/group.go
  server/pkg/layer/group_builder.go
  server/pkg/layer/group_test.go
  server/pkg/layer/id.go
  server/pkg/layer/id_list.go
  server/pkg/layer/id_list_test.go
  server/pkg/layer/initializer.go
  server/pkg/layer/initializer_test.go
  server/pkg/layer/item.go
  server/pkg/layer/item_builder.go
  server/pkg/layer/layer.go
  server/pkg/layer/layerops/initializer.go
  server/pkg/layer/layerops/initializer_test.go
  server/pkg/layer/layerops/processor.go
  server/pkg/layer/layerops/processor_test.go
  server/pkg/layer/list.go
  server/pkg/layer/list_test.go
  server/pkg/layer/loader.go
  server/pkg/layer/loader_test.go
  server/pkg/layer/merged.go
  server/pkg/layer/merging/merger.go
  server/pkg/layer/merging/merger_test.go
  server/pkg/nlslayer/builder.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/id.go
  server/pkg/nlslayer/id_list.go
  server/pkg/nlslayer/loader.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/nlslayer_list.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder/builder_test.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/scene.go
  server/pkg/scene/sceneops/dataset_migrator.go
  server/pkg/scene/sceneops/plugin_migrator_test.go
  server/pkg/storytelling/id.go
  server/pkg/storytelling/page.go
  server/pkg/storytelling/page_bulider.go
  server/pkg/storytelling/page_bulider_test.go
  server/pkg/storytelling/page_test.go
Labels: server

#1442 feat(web): plugin API: support geoid server
  web/package.json
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/index.ts
  web/src/beta/features/Visualizer/Crust/Plugins/hooks/useViewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/commonReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/common.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/storybook.tsx
  web/yarn.lock
Labels: web

#1446 chore(web): update package version to 1.0.0-beta.3.4
  web/package.json
Labels: web

#1437 feat(web): Support popup tip on Icon
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldItem.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/Editor/StyleInterface/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/PresetLayerStyle/index.tsx
  web/src/beta/features/Editor/Map/LayerStylePanel/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/features/Editor/Map/ToolsPanel/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/hooks.ts
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tabs/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
  web/src/beta/ui/components/EntryItem/index.tsx
  web/src/beta/ui/components/ManagerBase/ManagerHeader.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1445 feat(web): plugin playground presets - create viewer mouse events example
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/mouseEvent.ts
Labels: web

#1410 feat(server): associate project asset
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_validate_geojson_test.go
  server/e2e/seeder.go
  server/e2e/test.zip
  server/go.mod
  server/gql/asset.graphql
  server/gql/workspace.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_team.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/builder.go
  server/pkg/asset/id.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Labels: server

#1449 chore(server): revert associate project asset
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_validate_geojson_test.go
  server/e2e/seeder.go
  server/e2e/test.zip
  server/go.mod
  server/gql/asset.graphql
  server/gql/workspace.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_team.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/builder.go
  server/pkg/asset/id.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Labels: server

#1441 feat(web): add japanese language support to plugin playground
  web/src/beta/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/beta/features/Dashboard/index.tsx
  web/src/beta/features/Editor/Map/SketchLayerCreator/SketchCustomProperties/index.tsx
  web/src/beta/features/PluginPlayground/Code/HtmlEditModal.tsx
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/ExtensionSettings/index.tsx
  web/src/beta/features/PluginPlayground/LayerList/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/extensionExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/communication/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/dataStorage/themeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/extension/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/featureStyle3dmodel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/manageLayerStyle/styleWithCondition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewerAndSceneSettings/takeScreenshot.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/features/PluginPlayground/index.tsx
  web/src/services/i18n/i18n.ts
  web/src/services/i18n/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1438 refactor(web): update tiles' zoom level range
  server/e2e/gql_scene_test.go
  server/gql/property.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/builtin/manifest.yml
  server/pkg/property/schema_field_ui.go
  server/schemas/plugin_manifest.json
  web/src/beta/lib/reearth-ui/components/Icon/Icons/Video_Camera.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/lib/reearth-ui/components/RangeSlider/index.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/beta/ui/fields/Properties/index.tsx
  web/src/beta/ui/fields/ZoomLevelField/EditPanel.tsx
  web/src/beta/ui/fields/ZoomLevelField/index.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1451 refactor(web): Support update layer’s name and url
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/EditPanel.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/ResourceUrl/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/LayersPanel/LayerItem.tsx
  web/src/beta/lib/reearth-ui/components/TextInput/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1453 feat(web): plugin playground presets - create popup plugin example
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1450 feat(server): re associate project asset #1410
  server/e2e/common.go
  server/e2e/gql_asset_test.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_validate_geojson_test.go
  server/e2e/seeder.go
  server/e2e/test.zip
  server/go.mod
  server/go.sum
  server/gql/asset.graphql
  server/gql/workspace.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_team.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/storytelling.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/builder.go
  server/pkg/asset/id.go
  server/pkg/nlslayer/feature.go
  server/pkg/nlslayer/feature_test.go
  server/pkg/scene/builder/story.go
  server/pkg/storytelling/story.go
Labels: server

#1459 fix(server): auth error fix bug
  server/internal/app/app.go
Labels: server
