Repository reearth/reearth-visualizer, pull requests merged in 2025-08, with the labels that each got.

#1756 chore(web): Update package version to 1.0.0-beta.8.1
  web/package.json
Labels: web

#1758 refactor(web): support link to external workspace settings page
  web/src/app/features/Dashboard/LeftSidePanel/profile.tsx
  web/src/app/features/Dashboard/type.ts
  web/src/app/features/Navbar/LeftSection/Profile/index.tsx
  web/src/app/features/Navbar/types.ts
  web/src/app/features/RootPage/hooks.ts
  web/src/app/hooks/useWorkspaceManagementMenu.ts
  web/src/ee/featureConfig.ts
  web/src/services/api/teams/index.ts
  web/src/services/api/workspacesApi.ts
  web/src/services/config/appFeatureConfig.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/teams.ts
  web/src/services/gql/queries/user.ts
Labels: web

#1760 feat(server): policy check query
  server/e2e/common.go
  server/e2e/gql_workspace_policy_test.go
  server/gql/workspace.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_workspace_policy_test.go
  server/internal/usecase/gateway/policy_checker.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/policy.go
  server/internal/usecase/interfaces/policy.go
  server/pkg/policy/policy.go
Labels: server

#1757 feat(server): adjust visibility handling [VIZ-2110]
  server/e2e/gql_project_test.go
  server/e2e/proto_project_user_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_uploader.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
Labels: server

#1767 feat(server): Multiple WidgetAlignSystems [VIZ-2135]
  server/e2e/common.go
  server/e2e/gql_custom_property_test.go
  server/e2e/gql_scene_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/gql_widget_align_system_test.go
  server/e2e/seeder.go
  server/gql/scene.graphql
  server/gql/was.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_scene.go
  server/internal/adapter/gql/gqlmodel/convert_scene_align.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/migration/210730175108_add_scene_align_system.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id.go
  server/internal/infrastructure/mongo/migration/250724184601_convert_project_metadata_id_test.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems.go
  server/internal/infrastructure/mongo/migration/250820145437_multiple_widget_align_systems_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
  server/internal/infrastructure/mongo/mongodoc/scene.go
  server/internal/infrastructure/mongo/mongodoc/scene_align.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/scene.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/builder/encoder.go
  server/pkg/scene/builder/scene.go
  server/pkg/scene/widget_align_system.go
  server/pkg/scene/widgets.go
Labels: server

#1769 feat(web): support device switch on widget and publish view, detect device by UA
  web/package.json
  web/src/app/features/Editor/Publish/PublishToolsPanel/index.tsx
  web/src/app/features/Editor/Visualizer/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/Devices/index.tsx
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/context.tsx
  web/src/app/features/Editor/Widgets/index.tsx
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Editor/hooks/index.ts
  web/src/app/features/Editor/hooks/useEditorVisualizer.ts
  web/src/app/features/Editor/hooks/useUI.ts
  web/src/app/features/Editor/index.tsx
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/app/features/Visualizer/Crust/index.tsx
  web/src/app/features/Visualizer/hooks/useViewport.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/features/Visualizer/utils/device.ts
  web/src/app/lib/reearth-ui/components/CLAUDE.md
  web/src/app/lib/reearth-ui/components/Icon/Icons/Mobile.svg
  web/src/app/lib/reearth-ui/components/Icon/icons.ts
  web/src/app/lib/reearth-ui/components/RadioButton/index.stories.tsx
  web/src/app/lib/reearth-ui/components/RadioButton/index.tsx
  web/src/app/lib/reearth-ui/components/Tabs/index.tsx
  web/src/app/lib/reearth-ui/components/index.ts
  web/src/app/pages/EditorPage/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#1771 refactor(web): apply new data structure of widget align system
  web/src/app/features/Editor/Visualizer/convert.ts
  web/src/app/features/Editor/Visualizer/hooks.ts
  web/src/app/features/Editor/Visualizer/index.tsx
  web/src/app/features/Editor/Widgets/ContainerSettingsPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WASToolsPanel/index.tsx
  web/src/app/features/Editor/Widgets/WidgetInspectorPanel/hooks.ts
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/hooks.ts
  web/src/app/features/Editor/atoms.ts
  web/src/app/features/Editor/common/Devices.tsx
  web/src/app/features/Published/hooks.ts
  web/src/app/features/Published/index.tsx
  web/src/app/features/Published/types.ts
  web/src/app/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Area.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/MobileZone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/Zone.tsx
  web/src/app/features/Visualizer/Crust/Widgets/WidgetAlignSystem/index.tsx
  web/src/app/features/Visualizer/Crust/Widgets/index.tsx
  web/src/app/features/Visualizer/hooks/useViewport.ts
  web/src/app/features/Visualizer/index.tsx
  web/src/app/utils/device.ts
  web/src/app/utils/value.ts
  web/src/services/api/widgetsApi/index.ts
  web/src/services/api/widgetsApi/utils.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/scene.ts
  web/src/services/gql/queries/widget.ts
Labels: web

#1774 fix(server): policy check enum
  server/internal/infrastructure/policy/permissive_checker_test.go
  server/internal/usecase/gateway/policy_checker.go
Labels: server

#1775 fix(web): update japanese translations for project visibility terminology [VIZ-2153]
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1778 fix(server): import project data don't set visibility correctly
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/file_uploader.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
Labels: server

#1779 chore(web): bump up version 1.0.0-beta.9.0
  web/package.json
Labels: web

#1782 chore(web): bump up version 1.0.0-beta.9.1
  web/package.json
Labels: web

#1773 refactor(web): forbidden remove data attribution widget[VIZ-2139]
  web/src/app/features/Editor/Widgets/WidgetManagerPanel/ListItem.tsx
Labels: web

#1772 fix(web): status check while checking project alias & UI updates on recycle bin [VIZ-2195]
  web/src/app/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/app/features/Dashboard/ContentsContainer/Projects/index.tsx
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/hooks.ts
  web/src/app/features/Dashboard/ContentsContainer/RecycleBin/items/RecycleBinItem.tsx
  web/src/app/features/Dashboard/type.ts
  web/src/app/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
Labels: web

#1783 refactor(server): refactor migration ChangeEsriToDefault
  server/internal/infrastructure/mongo/migration/250820113009_change_esri_to_default.go
Labels: server

#1786 fix(migration): change esri to default migration
  server/internal/infrastructure/mongo/migration/250820113009_change_esri_to_default.go
  server/internal/infrastructure/mongo/migration/250820113009_change_esri_to_default_test.go
Labels: server

#1789 chore(web): bump up version 1.0.0-beta.9.2
  web/package.json
Labels: web

#1792 chore(web): bump up version 1.0.0-beta.9.3
  web/package.json
Labels: web
