Repository reearth/reearth-visualizer, pull requests merged in 2025-03, with the labels that each got.

#1461 refactor(web): connect story GA settings [VIZ-1348]
  web/src/beta/features/ProjectSettings/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/story.ts
Labels: web

#1460 feat(web): integrate assets into project [VIZ-540]
  web/src/beta/features/AssetsManager/hooks.ts
  web/src/beta/features/AssetsManager/index.tsx
  web/src/beta/features/AssetsManager/item/AssetGridItem.tsx
  web/src/beta/features/AssetsManager/item/AssetListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/features/Navbar/hooks.ts
  web/src/beta/features/ProjectSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSetting/index.tsx
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileCSV.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileCSV.svg?react
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileCzml.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileGeoJSON.svg
  web/src/beta/lib/reearth-ui/components/Icon/Icons/FileKml.svg
  web/src/beta/lib/reearth-ui/components/Icon/icons.ts
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/beta/ui/fields/AssetField/index.tsx
  web/src/beta/ui/fields/AssetField/useAssetUpload.ts
  web/src/services/api/assetsApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/provider/index.tsx
  web/src/services/gql/queries/asset.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/state/index.ts
Labels: web

#1424 refactor(web): Update actions base on role & remove inner settings page[VIZ-544]
  web/src/beta/features/Dashboard/ContentsContainer/Members/AddMemberModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/DeleteMemberWarningModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/UpdateRoleModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Members/index.tsx
  web/src/beta/features/WorkspaceSetting/innerPages/Workspaces/index.tsx
  web/src/beta/hooks/useAccountSettingsTabs.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/routing/index.tsx
Labels: web

#1466 fix(web): plugin iframe resize issue [VIZ-451]
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.stories.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.test.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/IFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/index.tsx
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/useIFrame.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/PluginIFrame/usePostMessage.ts
  web/src/beta/features/Visualizer/Crust/Plugins/PluginFrame/SafeIFrame/index.tsx
Labels: web

#1467 fix(web): project general settings page missing
  web/src/beta/features/Dashboard/ContentsContainer/Projects/Project/hooks.tsx
  web/src/beta/features/Navbar/LeftSection/index.tsx
  web/src/beta/pages/ProjectSettingsPage/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1468 fix(server): project import export
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/property_schema.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/style.go
  server/internal/usecase/repo/asset.go
Labels: server

#1463 feat(web): plugin playground presets - refactor some parts of plugin playground UI [VIZ-1343]
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/lib/reearth-ui/components/Button/index.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1474 fix(server): project import export2 [VIZ-1359]
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/pkg/scene/builder/decoder.go
Labels: server

#1472 refactor(web): add prefix to story tab item title & update settings layout [VIZ-1380]
  web/src/beta/features/Editor/Publish/PublishToolsPanel/hooks.ts
  web/src/beta/features/ProjectSettings/innerPages/GeneralSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/PublicSettings/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/StorySettings/StorySettingsDetail.tsx
  web/src/beta/features/ProjectSettings/innerPages/common.tsx
  web/src/beta/lib/reearth-ui/components/Collapse/index.tsx
Labels: web

#1470 fix(web): add minimum width to window-size for visualizer viewer in plugin playground [VIZ-1343]
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/SettingsList/index.tsx
  web/src/beta/features/PluginPlayground/Viewer/index.tsx
  web/src/services/i18n/i18n.ts
  web/src/services/i18n/index.tsx
Labels: web

#1476 fix(web): check the zip format by extension on plugin playground[VIZ-1376]
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
Labels: web

#1477 fix(server): project import export3 [VIZ-1360]
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
Labels: server

#1478 chore(server): Sorting properties [VIZ-1360]
  server/internal/adapter/gql/gqlmodel/convert_property.go
  server/pkg/property/schema_group.go
  server/pkg/scene/builder/builder.go
Labels: server

#1479 chore(server): sort fields
  server/pkg/property/group.go
Labels: server

#1480 fix(server): ci error sort property
  server/internal/infrastructure/mongo/migration/221028204300_move_terrain_properties_test.go
  server/pkg/property/property_test.go
Labels: server

#1482 fix(web): amend shared plugin title in plugin playground [VIZ-569]
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1484 fix(server): project import export4 [VIZ-1360]
  server/e2e/gql_project_export_import_test.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/gql/resolver_mutation_scene.go
  server/internal/infrastructure/mongo/property_schema.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/nlslayer_test.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/plugin_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/scene_test.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/storytelling_test.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interactor/style_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/interfaces/style.go
  server/pkg/file/zip.go
  server/pkg/scene/builder/builder.go
  server/pkg/scene/builder/decoder.go
  server/pkg/scene/scene.go
  server/pkg/scene/widgets.go
Labels: server

#1469 refactor(web): move edit geometry button to the toolbar [VIZ-543]
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/FeatureInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/index.tsx
  web/src/beta/features/Editor/Map/ToolsPanel/index.tsx
  web/src/beta/features/Editor/Map/context.tsx
  web/src/beta/features/Editor/Map/index.tsx
  web/src/beta/features/Editor/Map/state.ts
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/index.tsx
  web/src/beta/features/Editor/hooks/index.ts
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/beta/features/Editor/hooks/useSketch.ts
  web/src/beta/features/Visualizer/Crust/SketchTooltip/index.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/lib/reearth-ui/components/index.ts
  web/src/beta/utils/sketch.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/src/services/theme/reearthTheme/common/zIndex.ts
Labels: web

#1483 feat(server): create for migration job
  .github/workflows/run_migration.yml
  server/internal/app/main.go
  server/internal/app/migration.go
  server/internal/app/servre.go
  server/internal/infrastructure/mongo/container.go
Labels: server

#1471 feat(server): asset project association migration [VIZ-1381]
  server/internal/infrastructure/mongo/migration/250305230545_asset_project_association.go
  server/internal/infrastructure/mongo/migration/250305230545_asset_project_association_test.go
  server/internal/infrastructure/mongo/migration/migrations.go
Labels: server

#1488 fix(web): reset layer style name when update with empty input [VIZ-1369]
  web/src/beta/features/Editor/Map/LayerStylePanel/LayerStyleItem.tsx
Labels: web

#1485 refactor(web): remove cover image from create project modal [VIZ-1378]
  web/src/beta/features/Dashboard/ContentsContainer/Projects/ProjectCreatorModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Projects/hooks.ts
  web/src/services/api/projectApi.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/project.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1494 refactor(web): several minor updates on preset plugins [VIZ-1397]
  web/src/beta/features/PluginPlayground/ExtensionSettings/PropertyItem.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
  web/src/beta/features/PluginPlayground/Settings/index.tsx
  web/src/beta/features/PluginPlayground/hooks.tsx
  web/src/beta/ui/fields/Properties/PropertyField.tsx
  web/src/services/api/propertyApi/utils.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1496 fix(web): members management allow owner update owner [VIZ-1399]
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/UpdateRoleModal.tsx
  web/src/beta/features/Dashboard/ContentsContainer/Members/index.tsx
Labels: web

#1487 fix(web): update browser url on preset-plugin selection [VIZ-569]
  web/src/beta/features/PluginPlayground/Plugins/constants.ts
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/beta/features/PluginPlayground/Plugins/usePlugins.ts
  web/src/beta/features/PluginPlayground/hooks.tsx
Labels: web

#1498 fix(web): Set maxHeight on story show layer button edit panel layer selector & Apply layer order[VIZ-1370]
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Content.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/hooks.ts
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/Editor/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/builtin/Layer/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Block/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/Page/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/PanelContent/index.tsx
  web/src/beta/features/Visualizer/Crust/StoryPanel/index.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/shared/types.ts
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
Labels: web

#1490 fix(server): remove panic error [VIZ-1359]
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/plugin.go
  server/internal/infrastructure/mongo/property_schema.go
  server/pkg/scene/builder/decoder.go
Labels: server

#1499 fix(web): ensure previously opened category remains open during category selection in plugin playground [VIZ-569]
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
Labels: web

#1500 fix(server): modify migration [VIZ-1381]
  server/internal/app/main.go
  server/internal/app/migration.go
  server/internal/infrastructure/mongo/migration/250305230545_asset_project_association.go
Labels: server

#1501 fix(web): correct selected feature for infobox block & fix several UI issue [VIZ-1403]
  web/src/beta/features/Dashboard/ContentsContainer/Assets/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/index.tsx
  web/src/beta/features/ProjectSettings/innerPages/AssetSetting/index.tsx
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1502 fix(server): Trimming Quotation
  server/internal/infrastructure/mongo/migration/250305230545_asset_project_association.go
Labels: server

#1503 chore(web): update package version to v1.0.0-beta.4.0
  web/package.json
Labels: web

#1504 refactor(web): add toggle-button to plugin and rename plugin name
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/index.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1510 fix(web): fix selector undefined of label
  web/src/beta/features/PluginPlayground/Settings/index.tsx
  web/src/beta/lib/reearth-ui/components/Selector/index.tsx
Labels: web

#1511 chore(web): update package version to 1.0.0-beta.4.1
  web/package.json
Labels: web

#1506 refactor(web): add reference to developer documentation links in plugin playground [VIZ-1410]
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/featureStyle3dmodel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/layerStylingExamples.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/styleWithCondition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-3Dtiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-OSM-3DTiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-csv.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-czml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-geojson.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-google-photorealistic-3d-tiles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-kml.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/add-wms.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenFeatures.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/timeDrivenPath.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/useTitles.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/showLabel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web

#1507 refactor(web): plugin playground presets - refactor screenshot example [VIZ-1414]
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Labels: web

#1513 chore(web): support kmz file in kml format [VIZ-1402]
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/KML/index.tsx
Labels: web

#1509 chore(web): camera type correction [VIZ-1355]
  web/src/beta/utils/value.ts
Labels: web

#1515 chore(server): refactoring id project and workspace [VIZ-BE-574]
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/app/web_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/memory/project.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/project_test.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/id.go
  server/pkg/id/id.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/id.go
  server/pkg/project/project.go
  server/pkg/scene/builder.go
  server/pkg/scene/builder_test.go
  server/pkg/scene/id.go
  server/pkg/scene/list.go
  server/pkg/scene/scene.go
Labels: server

#1508 feat(server): add photoOverlay property [VIZ-1340]
  server/Makefile
  server/e2e/common.go
  server/e2e/gql_nlslayer_test.go
  server/e2e/gql_project_export_import_test.go
  server/e2e/gql_property_test.go
  server/e2e/gql_storytelling_test.go
  server/e2e/seeder.go
  server/gql/newlayer.graphql
  server/gql/plugin.graphql
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_nlslayer.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_nlslayer.go
  server/internal/adapter/gql/resolver_nlslayer.go
  server/internal/adapter/gql/resolver_scene.go
  server/internal/infrastructure/mongo/mongodoc/nlslayer.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/nlslayer.go
  server/pkg/builtin/main.go
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  server/pkg/id/id.go
  server/pkg/nlslayer/group.go
  server/pkg/nlslayer/group_builder.go
  server/pkg/nlslayer/nlslayer.go
  server/pkg/nlslayer/photo_overlay.go
  server/pkg/nlslayer/simple.go
  server/pkg/nlslayer/simple_builder.go
  server/pkg/plugin/extension.go
  server/pkg/plugin/manifest/convert.go
  server/pkg/scene/builder/nlsLayer.go
  server/schemas/plugin_manifest.json
Labels: server

#1519 chore(web): remove support for 2D/2.5D mode
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/Visualizer/type.ts
  web/src/beta/features/PluginPlayground/Viewer/hooks.ts
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/exposedReearth.ts
  web/src/beta/features/Visualizer/Crust/Plugins/pluginAPI/types/viewer.ts
  web/src/beta/features/Visualizer/Crust/Plugins/types.ts
  web/src/beta/features/Visualizer/Crust/Widgets/Widget/index.tsx
  web/src/beta/features/Visualizer/Crust/context.ts
  web/src/beta/features/Visualizer/Crust/index.tsx
  web/src/beta/features/Visualizer/hooks.ts
  web/src/beta/features/Visualizer/index.tsx
  web/src/beta/types/sceneProperty.ts
Labels: server, web

#1520 feat(server): Add data deletion process [VIZ-1419]
  server/internal/infrastructure/adapter/plugin.go
  server/internal/infrastructure/adapter/property_schema.go
  server/internal/infrastructure/fs/plugin.go
  server/internal/infrastructure/fs/property_schema.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/memory/plugin.go
  server/internal/infrastructure/memory/property_schema.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/plugin.go
  server/internal/infrastructure/mongo/property_schema.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/repo/asset.go
  server/internal/usecase/repo/plugin.go
  server/internal/usecase/repo/property_schema.go
Labels: server

#1525 chore(server, web): remove ArcGIS terrain [VIZ-1424]
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/types/sceneProperty.ts
Labels: server, web

#1522 feat(web): support set photo overlay on layer inspector [VIZ-1349]
  server/pkg/builtin/manifest.yml
  server/pkg/builtin/manifest_ja.yml
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/PhotoOverlaySettings/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/PhotoOverlaySettings/index.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/index.tsx
  web/src/beta/features/Editor/Visualizer/hooks.ts
  web/src/beta/features/Editor/hooks/useLayers.ts
  web/src/beta/features/Published/convert-nls-layers.ts
  web/src/beta/features/Published/hooks.ts
  web/src/beta/features/Published/index.tsx
  web/src/beta/features/Published/types.ts
  web/src/beta/features/Visualizer/Crust/PhotoOverlay/index.tsx
  web/src/services/api/index.ts
  web/src/services/api/layersApi/utils.ts
  web/src/services/api/photoOverlayApi/index.ts
  web/src/services/api/propertyApi/processNewProperty.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/layer.ts
  web/src/services/gql/queries/photoOverlay.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: server, web

#1514 refactor(web): support tooltip on icon button [VIZ-1401]
  web/src/beta/features/PluginPlayground/Code/index.tsx
  web/src/beta/features/PluginPlayground/Plugins/index.tsx
  web/src/beta/lib/reearth-ui/components/IconButton/index.tsx
  web/src/beta/lib/reearth-ui/components/Popup/index.tsx
  web/src/beta/lib/reearth-ui/components/Tooltip/index.tsx
  web/src/services/theme/reearthTheme/common/shadow.ts
Labels: web

#1529 fix: refactor custom plugin with new styles
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Labels: web

#1524 refactor(web): remove api key input for google map photorealistics [VIZ-1411]
  web/package.json
  web/src/beta/features/Editor/Map/DataSourceLayerCreator/ThreeDTiles/index.tsx
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#1532 fix(web): remove margin from paragraph tag and refactor plugin styles
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Labels: web

#1531 fix(web): edit sketch custom properties [VIZ-1429]
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/CustomPropertyFieldModal.tsx
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/hooks.ts
  web/src/beta/features/Editor/Map/InspectorPanel/LayerInspector/DataSource/SketchCustomProperties/index.tsx
Labels: web

#1495 refactor(web): plugin playground presets - refactor presets styling [VIZ-1384]
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraPosition.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/cameraRotation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/camera/zoomInOut.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/common.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/custom/myPlugin.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/clientStorageThemeSelector.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/extensionProperty.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/messengerBetweenExtensions.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/data/uiExtensionMessenger.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/filterFeaturebyStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layerStyles/overrideStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/hideFlyToDeleteLayer.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/overrideLayerData.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/layers/showSelectedFeaturesInformation.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/timeline/playbackControl.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/header.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/modalWindow.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/popup.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/responsivePanel.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/ui/sidebar.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableShadowStyle.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/enableTerrain.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/mouseEvent.ts
  web/src/beta/features/PluginPlayground/Plugins/presets/viewer/takeScreenshot.ts
Labels: web

#1505 feat(server): add db index [VIZ-1406]
  server/internal/infrastructure/mongo/migration/250317115957_add_index.go
  server/internal/infrastructure/mongo/migration/client.go
  server/internal/infrastructure/mongo/migration/migrations.go
Labels: server

#1534 refactor(web): add experimental icon to project settings dropdown export button
  web/src/beta/features/Navbar/LeftSection/index.tsx
Labels: web

#1536 fix(web): add supportedLangs to i18n initializer [VIZ-1412]
  web/src/services/i18n/i18n.ts
Labels: web

#1535 chore(web): update package version to 1.0.0-beta.5.0
  web/package.json
Labels: web

#1537 fix(web): member page permissions for modify role and remove member
  web/src/beta/features/Dashboard/ContentsContainer/Members/ListItem.tsx
Labels: web

#1538 chore(web): update package version to v1.0.0-beta.5.1
  web/package.json
Labels: web
