Repository reearth/reearth-visualizer, pull requests merged in 2025-09, with the labels that each got.

#1798 feat(server): export project without token [VIZ-2212]
  server/e2e/proto_project_export_test.go
  server/e2e/proto_project_test.go
  server/internal/app/grpc.go
  server/internal/infrastructure/mongo/project.go
Labels: server

#1799 feat(server): exportproject without token2
  server/e2e/proto_project_export_test.go
  server/e2e/proto_project_test.go
  server/internal/app/grpc.go
  server/internal/app/grpc_auth_test.go
  server/internal/usecase/interactor/project.go
Labels: server

#1805 fix(web): type missing on project public settings
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/PublicSettingsDetail.tsx
  web/src/app/features/ProjectSettings/innerPages/PublicSettings/index.tsx
Labels: web

#1812 fix(server): story publishing isn't working
  server/.env.example
  server/internal/app/config/file.go
  server/internal/app/internal/middleware/assets_cors_middleware.go
  server/internal/app/internal/middleware/assets_cors_middleware_test.go
  server/internal/app/repo.go
  server/internal/infrastructure/gcs/file.go
  server/internal/usecase/interactor/published.go
Labels: server

#1820 refactor(web): temporarily disable global modal
  web/src/app.tsx
Labels: web

#1821 chore(web): bump up version to 1.0.0-beta.10.0
  web/package.json
Labels: web

#1823 feat(web): add data attribution widget to plugin playground
  web/src/app/features/PluginPlayground/Code/hook.ts
Labels: web

#1811 feat(server): Modifying the imported project [VIZ-2232]
  server/e2e/gql_project_export_test.go
  server/e2e/gql_project_import_test.go
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/go.mod
  server/gql/project.graphql
  server/internal/adapter/context.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/adapter/internalapi/client.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/app/file_uploader.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/project_metadata.go
  server/internal/infrastructure/mongo/plugin.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/s3/s3.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/nlslayer.go
  server/internal/usecase/interactor/plugin.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/scene.go
  server/internal/usecase/interactor/storytelling.go
  server/internal/usecase/interactor/style.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/nlslayer.go
  server/internal/usecase/interfaces/plugin.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/scene.go
  server/internal/usecase/interfaces/story.go
  server/internal/usecase/interfaces/style.go
  server/pkg/file/zip.go
  server/pkg/project/Import_status.go
  server/pkg/project/builder_metadata.go
  server/pkg/project/project_metadata.go
Labels: server

#1825 feat(server): Allow access from storage trigger [VIZ-2232]
  server/internal/app/app.go
  server/internal/app/file_import_common.go
  server/internal/app/file_signature_uploader.go
  server/internal/app/file_split_uploader.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/project.go
Labels: server

#1828 fix(web, server): fixed typo import result log
  server/e2e/gql_project_test.go
  server/e2e/seeder.go
  server/gql/project.graphql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/file_import_common.go
  server/internal/infrastructure/mongo/mongodoc/project_metadata.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/pkg/project/builder_metadata.go
  server/pkg/project/project_metadata.go
  web/src/app/features/Dashboard/ContentsContainer/Projects/useProjectImport.ts
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/fragments/project.ts
Labels: server, web

#1831 feat(web): add warning banner on dashboard page [VIZ-2278]
  web/src/app/features/Dashboard/ContentsContainer/index.tsx
  web/src/app/features/Dashboard/index.tsx
  web/src/ee/features/WarningBanner/index.tsx
  web/src/services/gql/__gen__/gql.ts
  web/src/services/gql/__gen__/graphql.ts
  web/src/services/gql/queries/workspace.ts
  web/src/services/i18n/translations/en.yml
  web/src/services/i18n/translations/ja.yml
Labels: web
